<%= form_for(@production_plan) do |f| %>
    <% if @production_plan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@production_plan.errors.count, "error") %> prohibited this production_plan from being
            saved:</h2>

          <ul>
            <% @production_plan.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :product_line, '*生产线' %><br/>
      <%= f.text_field :product_line %>
    </div>
    <div class="field">
      <%= f.label :assembly, '*型号' %><br/>
      <%= f.text_field :assembly %>
    </div>

    <div class="field">
      <%= f.label :planned, '*计划' %><br/>
      <%= f.number_field :planned %>
    </div>
    <div class="field">
      <%= f.label :produced, '完成' %><br/>
      <%= f.number_field :produced %>
    </div>
    <div class="field">
      <%= f.label :trigger_max, '警戒值' %><br/>
      <%= f.number_field :trigger_max %>
    </div>
    <div class="field">
      <%= f.label :date, '*日期' %>(格式：XXXX-XX-XX，即 年-月-日)<br/>
      <% if @production_plan.new_record? %>
          <%= f.text_field :date ,class:'datepicker',value: Time.now.localtime.strftime('%Y-%m-%d')%>
      <% else %>
          <%= f.text_field :date,value: @production_plan.date_display  ,class:'datepicker'%>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit '提 交' %>
    </div>
<% end %>
<script type="text/javascript" src="/assets/jquery.ui/jquery.datetimepicker.js"></script>
<link data-turbolinks-track="true" href="/assets/jquery.datetimepicker.css" media="all" rel="stylesheet" />
<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d'
        });
    });
</script>