<p id="notice"><%= notice %></p>
<p>
  <b>生产线:</b>
  <%= @production_plan.product_line %>
</p>

<p>
  <b>型号:</b>
  <%= @production_plan.assembly %>
</p>


<p>
  <b>计划:</b>
  <%= @production_plan.planned %>
</p>

<p>
  <b>完成:</b>
  <%= @production_plan.produced %>
</p>

<p>
  <b>警戒值:</b>
  <%= @production_plan.trigger_max %>
</p>

<p>
  <b>时间:</b>
  <%= @production_plan.date_display %>
</p>

<%= link_to '编辑', edit_production_plan_path(@production_plan) %> |
<%= link_to '返回', production_plans_path %>
