<header>
  <div class="user-portrait-background pull-left" state="close" id="user-portrait-background">
    <div class="user-portrait-brand"></div>
  </div>
  <nav class="pull-left">
    <ul>
      <li>
        <a href="/"> <span><%= t 'menu.start' %></span> </a>
      </li>
      <% if current_user.admin? %>
          <li class="relative">
            <a> <span guide-name="mange_menu"><%= t 'menu.manage' %></span></a>
            <ul class="nav-manage-sub">
              <li>
                <a href="<%= kpis_path %>"><%= t 'menu.kpi' %></a>
              </li>
              <li>
                <a href="<%= entities_path %>"><%= t 'menu.department' %></a>
              </li>
              <li>
                <a href="<%= users_path %>"><%= t 'menu.user' %></a>
              <li>
                <a href="<%= departments_path %>"><%= t 'menu.entity' %></a>
              </li>
              <li>
                <a href="/oauth/applications">OAuth</a>
              </li>
            </ul>
          </li>
      <% end %>
      <li>
        <a guide-name="report_menu" href="<%= entity_groups_path %>"> <span><%= t 'menu.my_view' %></span></a>
      </li>
      <li>
        <a guide-name="report_menu" href="<%= access_kpis_path %>"> <span><%= t 'menu.my_kpi' %></span></a>
      </li>
      <% if current_user.director? %>
          <li>
            <a href="<%= dashboards_path %>" guide-name="dashboard_menu"> <span><%= t 'menu.dashboard' %></span> </a>
          </li>
          <li>
            <a href="<%= story_sets_path %>" guide-name="story_set_menu"> <span><%= t 'menu.story_set' %></span> </a>
          </li>
          <li>
            <a href="<%= mine_kpi_subscribes_path %>" guide-name="analyze_menu">
              <span><%= t 'menu.subscription' %></span> </a>
          </li>
      <% end %>
      <% if current_user.admin? || current_user.director? %>
          <li>
            <a href="<%= reports_path %>"><span>App Center</span></a>
          </li>
      <% end %>
      <li>
        <a href="<%= analyse_kpi_entries_path %>" guide-name="analyze_menu"> <span><%= t 'menu.analytics' %></span> </a>
      </li>
      <li><a>
        <span>&nbsp;</span>
      </a></li>
      <li>
        <a href="<%= kpi_entries_path %>" guide-name="entry_menu"> <span><%= t 'menu.entry_kpi' %></span> </a>
      </li>
    </ul>

  </nav>
  <ul class="nav-user-part">
    <li>
      <a href="/users/<%= current_user.id %>"><i class="icon-user" title="<%= current_user.first_name %>"> </i></a>

      <div id='user-message-div'>
      </div>
    </li>
    <%= render partial: 'shares/locale' %>
    <li class='empty'><a>
      <span>&nbsp;</span>
    </a></li>
    <li>
      <a href="/user_sessions/destroy"><%= t 'auth.view.signout_btn' %></a>
    </li>
  </ul>
  <script type="text/javascript">

  </script>
</header>
