<header>
     <div class="user-portrait-background pull-left" data-open=true id="user-portrait-background">
          <div class="user-portrait-brand"></div>
          <div class="user-portrait-name">
               IF-EPM
          </div>
     </div>
     <nav class="pull-left">
          <ul>
               <li>
                    <a href="/"> <span>Get Started</span> <span class="nav-get-started"></span> </a>
               </li>
               <li>
                    <a  href="<%= dashboards_path%>"> <span>DashBoard</span> <span class="nav-dash-board"></span> </a>
               </li>
               <li>
                    <a   href="<%= analyse_kpi_entries_path%>"> <span>Analytics</span> <span class="nav-analytics"></span> </a>
               </li>
               <li>
                    <a> <span>Reports</span> <span class='nav-report'></span> </a>
               </li>
               <li class="relative">
                    <a> <span>Manage</span> <span class='nav-manage'></span> </a>
                    <ul class="nav-manage-sub">
                         <li>
                              <a href="<%= kpis_path%>">KPIs</a>
                         </li>
                         <li>
                              <a  href="<%= users_path%>">Users</a>
                         </li>
                         <li>
                              <a  href="<%= entity_groups_path%>">Views</a>
                         </li>
                         <li>
                              <a>Billings</a>
                         </li>
                    </ul>
               </li>
               <li>
                    <a href="<%= new_kpi_entry_path%>"> <span>Entry KPIs</span> <span class="nav-entry-kpi"></span> </a>
               </li>
          </ul>
     </nav>
</header>
