<p id="notice"><%= notice %></p>

<p>
  <b>User group:</b>
  <%= @user_group_relation.user_group %>
</p>

<p>
  <b>User groupable:</b>
  <%= @user_group_relation.user_groupable_id %>
</p>

<p>
  <b>User groupable type:</b>
  <%= @user_group_relation.user_groupable_type %>
</p>


<%= link_to 'Edit', edit_user_group_relation_path(@user_group_relation) %> |
<%= link_to 'Back', user_group_relations_path %>
