<h1>Listing AdminKpiTemplates</h1>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>KPI ID</th>
    <th>Description</th>
    <th>Unit</th>
    <th>Frequency</th>
    <th>Target</th>
    <th>Is calculated</th>
    <th>Direction</th>
    <th>Period</th>
    <th>Formula</th>
    <th>Formula string</th>
    <th>Admin kpi category template</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @admin_kpi_templates.each_with_index do |admin_kpi_template, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= admin_kpi_template.name %></td>
        <td><%= admin_kpi_template.id %></td>
        <td><%= admin_kpi_template.description %></td>
        <td><%= admin_kpi_template.unit %></td>
        <td><%= admin_kpi_template.frequency %></td>
        <td><%= admin_kpi_template.target %></td>
        <td><%= admin_kpi_template.is_calculated %></td>
        <td><%= admin_kpi_template.direction %></td>
        <td><%= admin_kpi_template.period %></td>
        <td><%= admin_kpi_template.formula %></td>
        <td><%= admin_kpi_template.formula_string %></td>
        <td><%= admin_kpi_template.admin_kpi_category_template.name %></td>
        <td><%= link_to 'Show', admin_kpi_template %></td>
        <td><%= link_to 'Edit', edit_admin_kpi_template_path(admin_kpi_template) %></td>
        <td><%= link_to 'Destroy', admin_kpi_template, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= will_paginate @admin_kpi_templates, {:previous_label => '<', :next_label => '>'} %>
<%= link_to 'New Kpi template', new_admin_kpi_template_path %>
<%= link_to '上传/更新', import_admin_kpi_templates_path %>