<div>
  <div class="chart-body" id="chart-body" style="display:none">
    <div class="relative" id="chart-main-middle">
      <div class="chart-container " id="chart-container" onload="prepare_form_cchart()">

      </div>
    </div>
  </div>
</div>
<input type="hidden" value="<%= datas[:kpi_id]%>" id="kpi-id-hidden"/>
<input type="hidden" value="<%= datas[:kpi_name]%>" id="kpi-name-hidden"/>
<input type="hidden" value="<%= datas[:entity_group_id]%>" id="entity-group-id-hidden"/>
<input type="hidden" value="<%= datas[:entity_group_name]%>" id="entity-group-name-hidden"/>
<input type="hidden" value="<%= datas[:kpi_name]%>" id="kpi-name-hidden"/>
<input type="hidden" value="<%= datas[:start_time]%>" id="start-time-hidden"/>
<input type="hidden" value="<%= datas[:end_time]%>" id="end-time-hidden"/>
<input type="hidden" value="<%= datas[:frequency]%>" id="frequency-hidden" />
<input type="hidden" value="<%= datas[:type]%>" id="type-hidden" />
<input type="hidden" value="<%= datas[:average]%>" id="average-hidden" />
<input type="hidden" value="<%= datas[:data]%>" id="data-hidden" />


