<div style="display:table;width:100%;table-layout:fixed;height:100%;margin-top:-71px;position:absolute">
<%= render :partial=>'entity_groups/left_menu'%>

<div class="manage-right-content" id="manage-right-content">
     <div class="manage-btn-group" id="manage-btn-group" special="view">

          <p id="manage-edit-target" ></p>
          <i class="icon-pencil"></i>
          <input type="text"/>
          <a class="btn btn-primary" id="entity-add-show"><i class="icon-plus"></i>选择部门</a>
          <span>Enter:Confirm&nbsp;&nbsp;&nbsp;&nbsp;Esc:Cancel</span>
     </div>
     <div class="assign-entity-wrap" id="assign-entity-wrap">
          <ul>
               <%if @user_group_entities
               @user_group_entities.each_with_index do |entity,i|%>
               <li>
                    <h3><%= entity.name%></h3>
                    <i class="icon-trash"  entity_id="<%= entity.entity_group_item_id%>"></i>
               </li>
               <% end;end%>
          </ul>
     </div>
</div>
</div>
<div class="manage-user-add" id="manage-entity-add" special="entity">
     <div style="width:auto;height:71px;"></div>
     <i class="icon-remove" id="close-add-entity" ></i>
     <p>
          部门列表
     </p>
     <ul>
          <%@entities.each do |entity|%>
          <li>
               <h3 id="<%=entity.id%>"><%=entity.name%></h3>
          </li>
          <%end%>
     </ul>
</div>
<input type="hidden" value="<%= @active_entity_group_id%>" id="entity_group_id" />
<script>
     $(document).ready(function() {
          MANAGE.init();
          MANAGE.view.init();
     })
</script>
