<ul class="manage-left-menu" id="manage-left-menu" type="group">
     <li>Department</li>
     <li id="manage-menu-add" style="background-color:rgba(0,0,0,0)"></li>

     <%@entities.each do |entity|%>
         <li class="<%= entity.id==@active_entity_id ? 'active' : ''%>" title="<%= entity.name %>" number="<%= entity.id%>">
             <i class="icon-trash icon-item"></i>
             <a href="../users?p=<%=entity.id%>"><%= entity.name %></a>
         </li>
     <%end%>
</ul>