<div style="display:table;width:100%;table-layout:fixed;height:100%;margin-top:-71px;position:absolute">
  <div class="content-left-main" id="content-left-main">
    <div style="width:auto;height:71px;"></div>
    <div class="left-content-title" id="left-content-title">
      <p class="current-group-item"><%= t 'manage.department.desc.manage' %></p>
    </div>

    <div class="manage-left-content" id="dashboard-content" name="department">
      <div class="manage-right-content" id="manage-right-content">
        <div class="manage-right-list">
          <div class="right-list-top-control" id="right-list-top-control" name="group">
            <input type="checkbox" id="manage-total-check"/>
            <a class="btn" id="manage-item-remove"><%= t 'manage.base.delete_btn' %></a>
            <a class="btn" id="manage-entity-edit"><%= t 'manage.base.edit_btn' %></a>
          </div>
          <ul id="manage-sort-list" class="manage-sort-list" name="department">
            <% @entities.each do |entity| %>
                <li id="<%= entity.id %>">
                  <p class="sort-handle">:</p>
                  <input type="checkbox"/>
                  <table class="group">
                    <tr>
                      <td class="entity-manage-name"><%= entity.name %></td>
                      <td class="entity-manage-code"><%= entity.code %></td>
                      <!--<td class="entity-manage-users"><%= entity.user_quantity %></td>-->
                      <td class="entity-manage-description"><%= entity.description %></td>
                    </tr>
                    <tr>
                      <td><%= t 'manage.department.desc.name' %></td>
                      <td><%= t 'manage.department.desc.code' %></td>
                      <!--<td><%= t 'manage.department.desc.user_quantity' %></td>-->
                      <td><%= t 'manage.department.desc.description' %></td>
                    </tr>
                  </table>
                </li>
            <% end %>
          </ul>
        </div>

        <div class="manage-user-add" id="user-edit" general="manage-user-add">
          <i class="icon-remove" id="close-user-edit" general="close-user"></i>
          <div>
            <input type="text" placeholder="* <%= t 'manage.department.desc.name' %>" id="edit-entity-name" general="entity-name" class="clear-input"/>
            <input type="text" placeholder="* <%= t 'manage.department.desc.code' %>" id="edit-entity-code" general="entity-code" class="clear-input"/>
            <input type="text" placeholder="<%= t 'manage.department.desc.description' %>" id="edit-entity-description" general="entity-description"  class="clear-input"/>
            <input type="submit" value="Ok" class="btn btn-primary" id="manage-entity-edit-old"/>
          </div>
        </div>

      </div>
    </div>

  </div>

  <aside class="content-right-nav" name='department' id="content-right-nav">
    <div style="width:auto;height:71px;"></div>
    <section class="solid" style="  position:relative">
      <h3><%= t 'manage.department.desc.create' %></h3>

      <p></p>
      <a class="btn btn-primary" id="add-department"><%= t 'manage.department.desc.create_now' %></a>

      <div class="content-right-nav-add-block" id="content-right-nav-add-block" name="department">
        <p><%= t 'manage.department.desc.give_name' %></p>
        <input type='text'/>
      </div>
    </section>
    <section class="solid">
      <h3><%= t 'manage.department.desc.what-is-entity-title'%></h3>
      <p><%= t 'manage.department.desc.what-is-entity'%></p>

    </section>

  </aside>
</div>


<div class="manage-user-add create-user" id="manage-entity-add">
  <i class="icon-remove" id="close-add-entity" general="close-user"></i>

  <div class="add-entity-block">
    <input type="text" placeholder="* <%= t 'manage.department.desc.name' %>" id="entity-name" general="user-name"/>
    <input type="text" placeholder="* <%= t 'manage.department.desc.code' %>" id="entity-code" general="user-mail"/>
    <textarea type="text" placeholder="<%= t 'manage.department.desc.description' %>" id="entity-description"></textarea>

    <input type="submit" value="<%= t 'manage.base.add_btn' %>" class="btn btn-primary" id="add-entity-new"/>
  </div>
</div>

<script>
    $(document).ready(function () {
        MANAGE.init();
        MANAGE.department.init();
    })
</script>
<% content_for :javascript_includes do%>
    <%= javascript_include_tag "Manage.js"%>
    <%= javascript_include_tag "Manage-left-menu.js"%>
    <%= javascript_include_tag "Manage-right-list.js"%>

    <%= javascript_include_tag "Manage-department.js"%>
<%end%>