<ul id="manage-sort-list" class="manage-sort-list">
  <% @users.each do |user| %>
      <li id="<%= user.id %>" is_tenant="<%= user.is_tenant %>">
        <p class="sort-handle">:</p>
        <input type="checkbox"/>
        <table class="group">
          <tr>
            <td class="user-manage-name"><%= user.first_name %></td>
            <td class="user-manage-title"><%= user.title %></td>
            <td class="user-manage-tel" title="<%= user.tel %>"><%= user.tel %></td>
            <td class="user-manage-phone" title="<%= user.phone %>"><%= user.phone %></td>
            <td class="user-manage-entity" title="<%= user.entity_name %>" value="<%= user.entity_id %>"><%= user.entity_name %></td>
            <td title="<%= user.department_names %>"><%= user.department_names %></td>
            <td class="user-manage-authority" style="display: none" value="<%= user.role_id %>"><%= UsersHelper.get_user_role_display(user.role_id) %></td>
          </tr>
          <tr>
            <td class="user-manage-mail"><%= user.email %></td>
            <td><%= t 'manage.user.new.title' %></td>
            <td><%= t 'manage.user.new.tel' %></td>
            <td><%= t 'manage.user.new.phone' %></td>
            <td><%= t 'manage.user.new.entity' %></td>
            <td><%= t 'manage.user.new.departments' %></td>
            <td  style="display: none"><%= t 'manage.user.new.authority' %></td>
          </tr>
        </table>
      </li>
  <% end %>
</ul>