<div class="sub-middle sub-middle-manage">
     <h3 class="text-center">管理我的用户 </h3>
</div>
<div class="middle clearfix">
     <%= render :partial=>'entities/left_menu'%>
     <div class="right-content pull-left" id="right-content">
          <table class="manage-kpi" id="user-table">
               <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th min-width="221px">邮箱</th>
                    <th>角色</th>
                    <th width="100px" colspan="2">操作</th>
               </tr>
               <%@users.each_with_index do |user,i|%>
               <tr id="<%= user.id%>">
                    <td align="center" class="kpi-order-id"><%= i+1%></td>
                    <td align="center" class="manage-userName"><%= user.first_name%></td>
                    <td align="center" class="manage-userMail"><%= user.email%></td>
                    <td align="center" class="manage-userRole"><%= UsersHelper.get_user_role_display(user.role_id)%></td>
                    <td align="center"><div class="manage-operate manage-operate-edit" data-belong="<%= user.id%>" onclick="edit_userItem(event)"></div><a class="btn btn-success manage-operate-reverse  hide" data-belong="<%= user.id%>" onclick="finish_editUser(event)">完成</a></td>
                    <td align="center"><div class="manage-operate manage-operate-del" data-belong="<%= user.id%>" onclick="remove_userItem(event)"></div><a class="btn manage-operate-reverse  hide" id="cancel-edit-user" data-belong="<%= user.id%>" onclick="cancel_editUser(event)">取消</a></td>
               </tr>
               <%end%>
          </table>
          <a class="btn manage-add-btn btn-primary pull-right" href="<%=new_user_path%>"  data-manage="user">添加用户</a>
     </div>
</div>

<script type="text/javascript">
     $(document).ready(function() {
          init_manage();
     }); 
</script>
