<div style="display:table;width:100%;table-layout:fixed;height:100%;margin-top:-71px;position:absolute">
  <div class="content-left-main" name="dashboard" id="content-left-main">
    <div style="width:auto;height:71px;"></div>
    <div class="left-content-title" id="left-content-title">
      <p class="current-group-item"><%= t 'manage.user.desc.manage' %></p>
    </div>

    <div class="manage-left-content" id="manage-left-content">
      <%= render :partial => 'roles/left_menu' %>

      <div class="manage-right-content" id="manage-right-content">
        <div class="manage-right-list">
          <div class="right-list-top-control" id="right-list-top-control" name="group">
            <input type="checkbox" id="manage-total-check"/>
            <a class="btn" id="manage-item-remove"><%= t 'manage.base.delete_btn' %></a>
            <a class="btn" id="manage-user-edit"><%= t 'manage.base.edit_btn' %></a>
          </div>
          <ul id="manage-sort-list" class="manage-sort-list">
            <% @users.each_with_index do |user, i| %>
                <li id="<%= user.id %>" is_tenant="<%= user.is_tenant %>">
                  <p class="sort-handle">:</p>
                  <input type="checkbox"/>
                  <table class="group">
                    <tr>
                      <td class="user-manage-name"><%= user.first_name %></td>
                      <td class="user-manage-title"><%= user.title %></td>
                      <td class="user-manage-entity-group" value="<%= user.entity_group_id %>"><%= user.entity_group_name %></td>
                      <td class="user-manage-entity" value="<%= user.entity_id %>"><%= user.entity_name %></td>
                      <td class="user-manage-authority" value="<%= user.role_id %>"><%= UsersHelper.get_user_role_display(user.role_id) %></td>
                    </tr>
                    <tr>
                      <td class="user-manage-mail"><%= user.email %></td>
                      <td><%= t 'manage.user.desc.title' %></td>
                      <td><%= t 'manage.user.new.entity_group' %></td>
                      <td><%= t 'manage.user.new.dep' %></td>
                      <td><%= t 'manage.user.desc.authority' %></td>
                    </tr>
                  </table>
                </li>
            <% end %>
          </ul>
        </div>
        <div class="manage-user-add" id="user-edit" general="manage-user-add">
          <i class="icon-remove" id="close-user-edit" general="close-user"></i>

          <div>
            <input type="text" placeholder="* <%= t 'manage.user.new.name' %>" id="edit-user-name" general="user-name"/>
            <input type="text" placeholder="* <%= t 'manage.user.new.email' %>" id="edit-user-mail" general="user-mail"/>
            <input type="text" placeholder="<%= t 'manage.user.new.title' %>" id="edit-user-title" general="user-title"/>

            <div>
              <select data-placeholder="<%= t 'manage.user.new.entity_group' %>"  id="edit-entity-group-for-kpi" class="single-select">
                <option value=""></option>
                <% @departments.each do |department| %>
                    <option value="<%= department.id %>"><%= department.name %></option>
                <% end %>
              </select>
            </div>
            <div>
              <select data-placeholder="<%= t 'manage.user.new.dep' %>"  id="edit-department-for-kpi"  class="single-select">
                <option value=""></option>
                <% @data_points.each do |data_point| %>
                    <option value="<%= data_point.id %>"><%= data_point.name %></option>
                <% end %>
              </select>
            </div>
            <label>
              <input type="radio" name="edit-user-role" data-name="General" data-role="1" value="<%=Role.user%>" checked>
              <%= t 'manage.user.role.user' %>
            </label>
            <label>
              <input type="radio" name="edit-user-role" data-name="General Manager" data-role="3" value="<%=Role.director%>">
              <%= t 'manage.user.role.director' %>
            </label>
            <label>
              <input type="radio" name="edit-user-role" data-name="Administrator" data-role="4" value="<%=Role.admin%>">
              <%= t 'manage.user.role.admin' %>
            </label>
            <input type="submit" value="Ok" class="btn btn-primary" id="manage-user-edit-old"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="content-right-nav" name='group' id="content-right-nav">
    <section class="solid">
      <h3><%= t 'manage.user.desc.create' %></h3>

      <p><%= t 'manage.user.desc.create_desc' %></p>
      <a class="btn btn-primary" id="add-user-show"><%= t 'manage.user.desc.create_now' %></a>
    </section>
    <section class="solid">
      <h3><%= t 'manage.user.desc.assign' %></h3>

      <p><%= t 'manage.user.desc.assign_desc' %></p>
      <a class="btn btn-primary" id="manage-user-delivery"><%= t 'manage.user.desc.assign_now' %></a>
    </section>
    <section class="solid">
      <h3><%= t 'manage.base.next' %></h3>

      <p><%= t 'manage.user.desc.next_desc' %></p>
      <a class="btn btn-primary" href="<%= entity_groups_path %>"><%= t 'manage.view.desc.manage' %></a>
    </section>
  </aside>
</div>

<div class="manage-user-add create-user" id="manage-user-add" general="manage-user-add">
  <i class="icon-remove" id="close-add-user" general="close-user"></i>

  <div>
    <input type="text" placeholder="* <%= t 'manage.user.new.name' %>" id="new-user-name" general="user-name"/>
    <input type="text" placeholder="* <%= t 'manage.user.new.email' %>" id="new-user-mail" general="user-mail"/>
    <input type="text" placeholder="<%= t 'manage.user.new.title' %>" id="new-user-title" general="user-title"/>
    <input type="password" placeholder="* <%= t 'manage.user.new.pwd' %>" id="new-user-password"/>
    <input type="password" placeholder="* <%= t 'manage.user.new.pwd_con' %>" id="new-user-password-confirm"/>

    <div class="div-select">
      <select data-placeholder="<%= t 'manage.user.new.entity_group' %>" id="entity-group-for-kpi"  class="single-select">
        <option value=""></option>
        <% @departments.each do |department| %>
            <option value="<%= department.id %>"><%= department.name %></option>
        <% end %>
      </select>
    </div>
    <div class="div-select">
      <select data-placeholder="<%= t 'manage.user.new.dep' %>" id="department-for-kpi"  class="single-select">
        <option value=""></option>
        <% @data_points.each do |data_point| %>
            <option value="<%= data_point.id %>"><%= data_point.name %></option>
        <% end %>
      </select>
    </div>
    <label>
      <input type="radio" name="user-role" data-name="General" data-role="1" value="<%=Role.user%>" checked>
      <%= t 'manage.user.role.user' %>
    </label>
    <label>
      <input type="radio" name="user-role" data-name="General Manager" data-role="3" value="<%=Role.director%>">
      <%= t 'manage.user.role.director' %>
    </label>
    <label>
      <input type="radio" name="user-role" data-name="Administrator" data-role="4" value="<%=Role.admin%>">
      <%= t 'manage.user.role.admin' %>
    </label>
    <input type="submit" value="<%= t 'manage.base.add_btn' %>" class="btn btn-primary" id="manage-user-add-new"/>
  </div>
</div>



<div class="assign-kpi-wrap" id="assign-kpi-wrap">
  <div id="assign-kpi" class="assign-kpi" special="user">

    <div class="assign-kpi-left" special="user" id="assign-kpi-options">
      <div class="select-div">
        <select class="chosen-select" data-placeholder="<%= t 'manage.kpi.category' %>" id="kpi-category">
        </select>
      </div>
      <ul id="assign-kpi-list">

      </ul>
    </div>
    <div class="assign-kpi-right" id="assign-kpi-right">
      <div class="select-div">
        <select data-placeholder="* <%= t 'manage.user.desc.name' %>" class="chosen-select" style="width:180px;" id="assign-kpi-user">
          <option></option>
          <% @users.each_with_index do |user, i| %>
              <option value="<%= user.id %>"><%= user.email %></option>
          <% end %>
        </select>
      </div>
      <div id="assign-kpi-inner" class="assign-kpi-inner">
      </div>
    </div>
    <div class="assign-kpi-bottom">
      <p><%= t 'manage.user.desc.assign' %></p>
      <a class="btn btn-primary" id="assign-kpi-cancel"><%= t 'manage.base.finish' %></a>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        MANAGE.init();
        MANAGE.user.init();
    })
</script>
