<div class="sub-middle sub-middle-manage">
     <a class="btn btn-addUser btn-manageUser" onclick="window.history.go(-1)">返回</a>
     <ul class="nav nav-tabs manage-userTab">
          <li class="active">
               <a href="#">添加用户</a>
          </li>
          <li>
               <a href="#">编辑用户</a>
          </li>
          <li>
               <a href="#">分配权限</a>
          </li>
     </ul>
</div>
<div class="middle clearfix">
     <div class="add-user-left" id="add-user-left">
          <%= form_for(@user)   do %>
          <% if @user.errors.any? %>
          <div id="error_explanation">
               <h2><%= pluralize(@user.errors.count, "error") %>error:</h2>

               <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                    <li>
                         <%= msg %>
                    </li>
                    <% end %>
               </ul>
          </div>
          <% end %>
          <div class="add-user-left" id="add-user-left">
               <p>
                    *姓名
               </p>
               <input type="text" id="new-user-name"  name="user[first_name]"/>
               <p>
                    *邮箱
               </p>
               <input type="text" id="new-user-mail"   name="user[email]"/>
               <p>
                    *密码
               </p>
               <input type="password" id="new-user-password" name="user[password]"/>
               <p>
                    *确认密码
               </p>
               <input type="password" id="new-user-password" name="user[password_confirmation]"/>
               <p>
               <p>
                    *组
               </p>
               <%= select_tag :entity,options_from_collection_for_select(@entities,'id','name'),{:id=>'new-user-entity',:name=>'user[entity_id]'}%>
               <p>
                    *权限
               </p>
               <label class="radio">
                    <input type="radio" name="user[role_id]" data-role="1" checked value="100">
                    普通用户 </label>
               <label class="radio">
                    <input type="radio" name="user[role_id]" data-role="2" value="200">
                    部门经理</label>
               <label class="radio">
                    <input type="radio" name="user[role_id]" data-role="3" value="300">
                    总经理</label>
               <label class="radio">
                    <input type="radio" name="user[role_id]" data-role="4" value="400">
                    管理员</label>

               <%= submit_tag '保存' %>

               <% end %>
          </div>
     </div>

     <script type="text/javascript">
          $(document).ready(function() {
               init_addUser();
          })
     </script>
