<%=stylesheet_link_tag "users/setting" %>
<div class="account-block">
  <input id="old-pwd" type="text" placeholder="<%= I18n.t "auth.view.old_pwd"%>"/>
  <input id="new-pwd" type="password" placeholder="<%= I18n.t "auth.view.new_pwd"%>"/>
  <input id="new-pwd-cfm" type="password" placeholder="<%= I18n.t "auth.view.new_pwd_cfm"%>"/>
  <a class="btn btn-primary finish-change" id="finish-change"><%= I18n.t "auth.view.cfm_change"%></a>
</div>
