<div class="part-left">
  <div class="inner" id="tree">
    <% @roots.each do |e|%>
        <div class="tree">
          <ul class="draggable">
            <li entity_group="<%= e.id %>" class="entity_root" >
              <a entity_group="<%= e.id %>"><i class="icon-globe"></i> <%= e.name%></a>
              <div class="add-block">
                <label class="add-block-part"><i class="icon-plus-sign"></i> 添加部门</label>
                <label class="add-block-entity"><i class="icon-plus-sign"></i> 添加观察点</label>
              </div>
            </li>
          </ul>
        </div>
    <% end %>
  </div>

</div>
<div class="part-right" id="part-info">
  <section class="title">
    <div class="inner">
      <p>管理部门</p>
    </div>
  </section>
  <section class="basic">
    <div class="inner">
      <p>部门基础信息</p>
      <dl>
        <dt>名称:</dt>
        <dd class='name' post='name'>Leoni-shanghai</dd>
      </dl>
      <a class="btn btn-danger">删除部门</a>
    </div>
  </section>
  <section class="users">
    <div class="inner">
      <p>部门所含用户</p>
      <ul class="users">
      </ul>
      <a id="btn-add-user" class="btn btn-primary" href="#">安排用户</a>
    </div>
  </section>
</div>

<div id="add-user" class="add-entity">
  <i class="icon-remove"></i>
   <div class="inner">
     <h4>Add Department User</h4>
     <ul>
       <li>Zhangsan</li>
     </ul>
   </div>
</div>

<div id="add-entity" class="add-entity">
  <i class="icon-remove"></i>
   <div class="inner">
     <h4>添加输入点</h4>
     <ul>
     </ul>
   </div>
</div>

<div class="user-block" id="user-block">
  <p>添加部门</p>
  <input type='text' placeholder="部门名称"/>
  <a class="cancel">取消</a>
  <a class="add">添加</a>
</div>

<ul id="hidden-entity" style="display:none">
  <% @roots.each do |e|%>
  <li entity="<%= e.id%>"></li>
  <%end%>
</ul>


<% content_for :javascript_includes do%>
    <%= javascript_include_tag "Manage-part.js"%>
    <%= javascript_include_tag "jquery-collision.min.js"%>
    <%= javascript_include_tag "jquery.ui/jquery.draggable.js"%>
<%end%>
