<% content_for :javascript_includes do%>
<%= javascript_include_tag "jquery-collision.min.js"%>
<%= javascript_include_tag "jquery.ui/jquery.draggable.js"%>
<% end %>
<% @roots.each do |e|%>
<div class="tree">
  <ul class="draggable">
    <li entity_group="<%= e.id %>" class="entity_root">
      <a><%= e.name%></a>
    </li>
  </ul>
</div>
<% end %>

<ul id="hidden-entity" style="display:none">
  <% @roots.each do |e|%>
  <li entity="<%= e.id%>"></li>
  <%end%>
</ul>

<script type="text/javascript">
  $(document).ready(function(){
    
      var roots = $("#hidden-entity li");
      for(var i = 0;i<roots.length;i++){
        getEntities(roots.eq(i).attr("entity"));
        getChild(roots.eq(i).attr("entity"));
      }
    
  });

  function getEntities(id){
    $.ajax({
      url:'/departments/sub_entities',
      type:'GET',
      data:{id:id},
      dataType:'json',
      success:function(data){
        //append a new entity to the entity group
        if(data.result){
          var childs = data.content.subents;
          var id = data.content.id;
         
          if($("li[entity_group="+id+"]").has("ul").length < 1){
             $("li[entity_group="+id+"]").append("<ul />");
          }
          for(var i = 0;i<childs.length;i++){
            $('<li entities="'+childs[i].id+'"><p>'+childs[i].name+'</li>').appendTo($("li[entity_group="+id+"] ul"));
          }
        }
      }
    });
  }
  
  function getChild(id){
    $.ajax({
      url:'/departments/sub_departments',
      type:'GET',
      data:{id:id},
      dataType:'json',
      success:function(data){
        if(data.result){
          var childs = data.content.subdeps;
          var id = data.content.id;
          if($("li[entity_group="+id+"]").has("ul").length < 1){
             $("li[entity_group="+id+"]").append("<ul />");
          }
          for(var i = 0;i<childs.length;i++){
            $('<li entity_group="'+childs[i].id+'"><a>'+childs[i].name+'</li>').appendTo($("li[entity_group="+id+"] ul")).ready(function(){getChild(childs[i].id);getEntities(childs[i].id)});
          }
        }
      }
    });
  }</script>
