<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user_invite.email %>
</p>

<p>
  <b>Sign uped:</b>
  <%= @user_invite.sign_uped %>
</p>

<p>
  <b>User:</b>
  <%= @user_invite.user %>
</p>


<%= link_to 'Edit', edit_user_invite_path(@user_invite) %> |
<%= link_to 'Back', user_invites_path %>
