<%= form_for(@alert_item) do |f| %>
  <% if @alert_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert_item.errors.count, "error") %> prohibited this alert_item from being saved:</h2>

      <ul>
      <% @alert_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :alertable_id %><br />
    <%= f.number_field :alertable_id %>
  </div>
  <div class="field">
    <%= f.label :alertable_type %><br />
    <%= f.text_field :alertable_type %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
