<div class="manage-kpi-add" id="manage-kpi-add">
     <div style="width:auto;height:71px;"></div>
     <i class="icon-remove" id="close-add-kpi"></i>
     <div>
          <div class="select-div">
               <select data-placeholder="* Category" class="chosen-select"  id="new-kpi-category"></select>
          </div>
          <input type="text" placeholder="* <%= t 'manage.kpi.name'%>" id="new-kpi-name"/>
          <textarea placeholder="   <%= t 'manage.kpi.description'%>" id="new-kpi-desc"></textarea>
          <div class="select-div">
               <select class="chosen-select" data-placeholder="* <%= t 'manage.kpi.frequency'%>" id="add-interval" name="frequency">
                
               </select>
          </div>

          <input type="text" placeholder="* 目标上限值" id="new-kpi-target"/>
          <input type="text" placeholder="* 目标下限值" id="new-kpi-target-low"/>
          <div class="select-div">
               <select class="chosen-select" data-placeholder="* <%= t 'manage.kpi.unit'%>" id="add-unit" name="unit">
                   
               </select>
          </div>

          <div class="select-div">
               <select class="chosen-select" data-placeholder="* <%= t 'manage.kpi.trend'%>" id="add-trend" name="direction">
                   
               </select>
          </div>

          <input type="checkbox" id="is-calcu-check"/>
          <label><%= t 'manage.kpi.calculate_type'%></label>

          <div class="calculate-type-box" id="calculate-type-box">
               <div class="select-div">
                    <select class="chosen-select" data-placeholder="* <%= t 'manage.kpi.list'%>" id="is-calcu-relate" name="base">
                      
                    </select>
               </div>
               <label sign="+">+</label>
               <label sign="-">-</label>
               <label sign="*">x</label>
               <label sign="/">/</label>
               <label sign="(">(</label>
               <label sign=")">)</label>
               <input type="text" placeholder="* <%= t 'manage.kpi.formula'%>" id="calcuType-input"/>
               <div style="display:none" id="takeCal" cal></div>
          </div>
          <a class="btn btn-primary" id="manage-kpi-add-new"><%= t 'manage.base.add_btn'%></a>
     </div>
</div>
