<ul class="left">
     <%@user_kpis.each_with_index do |kpi,i|%>
     <li id="<%= kpi.user_kpi_item_id%>">
          <table>
              <tr>
                  <td title="<%= kpi.name%>"><%= kpi.name%></td>
                  <td><input type="text" value="<%= kpi.target%>"/></td>
              </tr>
              <tr>
                  <td title="<%= kpi.description%>"><%= kpi.description%></td>
                  <td>Target</td>
              </tr>
          </table>
          <i class="icon-trash"></i>
     </li>
     <%end%>
</ul>

