<div style="display:table;width:100%;table-layout:fixed;height:100%;margin-top:-71px;position:absolute">
  <div class="content-left-main" name="category" id="content-left-main">
    <div style="width:auto;height:71px;"></div>
    <div class="left-content-title" id="left-content-title">
      <p class="current-group-item">
        <%= t 'menu.my_kpi' %>
      </p>
    </div>
    <div class="manage-left-content" id="manage-left-content">
      <%= render :partial => 'kpi_categories/left_readonly_menu' %>
      <div class="manage-right-content" id="manage-right-content">
        <div class="manage-btn-group" id="manage-btn-group">
          <p id="manage-edit-target"></p>
          <i class="icon-pencil"></i>
          <input type="text"/>
        </div>
        <div class="manage-right-list">
          <div id="kpi-item-container">
            <%= render partial: 'access' %>
          </div>
          <div class="kpi-library" id="subscribe-kpi-block" type="attribute">
            <div>
              <i class="icon icon-remove" id="edit-attribute-block-remove"></i>

              <div class="attribute-block" type="edit">
                <ul id="kpi-properties">
                  <li><label>某个属性</label><i class="icon icon-trash"></i></li>
                  <li><label>某个属性</label><i class="icon icon-trash"></i></li>
                </ul>
              </div>

              <div class="add-attribute">
                <input id="add-kpi-property" placeholder="<%= t 'manage.kpi.dimensions-inputname'%>"/>
                <a class="btn btn-normal btn-success" id="edit-attribute-block-add"><%= t 'manage.kpi.dimensions-add'%></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        MANAGE.kpi.init();
    })
</script>
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "user.kpi.js" %>
<% end %>
