<p>Details</p>
<% if @kpi %>
<table>
  <th>Date</th>
  <th>Entity</th>
  <th>Target Max</th>
  <th>Target Min</th>
  <th>Value</th>
  <th>Frequency</th>
  <% @kpi.kpi_properties.each do |property|%>
  <th><%= property.name %></th>
  <% end %>

  <% @kpi_entries.each do |entry| %>
      <td><%= entry.entry_at %></td>
      <td><%= @entity.name %></td>
      <td><%= entry.target_max %></td>
      <td><%= entry.target_min %></td>
      <td><%= entry.value %></td>
      <td><%= @kpi.frequency%></td>
      <% @kpi.kpi_properties.each do |property|%>
          <td><%= entry.property_val property.id %></td>
      <% end %>
  <% end %>
</table>
<% end %>