<%@user_kpis.each_with_index do |kpi,i|
      value =KpiUnit.parse_entry_value(kpi.unit, entry.value)  if(entry=KpiEntriesHelper.get_kpi_entry_for_entry(kpi.user_kpi_item_id,@parsed_entry_at))
      percent=nil
      if value
          if kpi.user_kpi_item_target_max==0
            percent="NaN%"
          else
          percent="#{(value/ kpi.user_kpi_item_target_max*100).round(2)}%"
          end
      end
     %>
     <li id="<%= kpi.user_kpi_item_id%>">
       <table>
         <tr>
           <td title="<%= kpi.name%>"><%= kpi.name%></td>
           <td title="<%= kpi.category_name%>"><%= kpi.category_name%></td>

           <td ><%=KpiDirection.get_desc_by_value(kpi.direction)%></td>
           <td title="<%= KpiUnit.parse_entry_value(kpi.unit, kpi.user_kpi_item_target_max)%>">
             <span class="entry-target"><%= KpiUnit.parse_entry_value(kpi.unit, kpi.user_kpi_item_target_max)%></span>
           </td>

           <td title="<%= KpiUnit.parse_entry_value(kpi.unit, kpi.user_kpi_item_target_min)%>">
             <span class="entry-target"><%= KpiUnit.parse_entry_value(kpi.unit, kpi.user_kpi_item_target_min)%></span>
           </td>

           <td ><input type="text" class="entry-actual"  kpi_id="<%=kpi.id%>" user_kpi_item_id="<%= kpi.user_kpi_item_id%>"  value="<%=value%>" /></td>

           <td class="kpi-entry-trend"></td>
         </tr>
         <tr>
           <td><%= kpi.description%></td>
           <td>Category</td>
           <td>Trend</td>
           <td>Target_Max</td>
           <td>Target_Min</td>
           <td>Actual</td>
           <td>Recent</td>
         </tr>
       </table>
     </li>
<%end%>


