<%@user_kpis.each_with_index do |kpi,i|
      value =KpiUnit.parse_entry_value(kpi.unit, entry.value)  if(entry=KpiEntriesHelper.get_kpi_entry_for_entry(kpi.user_kpi_item_id,@parsed_entry_at))
      percent=nil
      if value
          if kpi.user_kpi_item_target==0
            percent="NaN%"
          else
          percent="#{(value/ kpi.user_kpi_item_target*100).round(2)}%"
          end
      end
     %>
     <li id="<%= kpi.user_kpi_item_id%>">
          <table>
                  <tr>
                      <td ><%= kpi.name%></td>
                      <td ><%= kpi.category_name%></td>

                      <td ><%=KpiDirection.get_desc_by_value(kpi.direction)%></td>
                      <td >
                        <span class="entry-target"><%= KpiUnit.parse_entry_value(kpi.unit, kpi.user_kpi_item_target)%></span>
                       </td>
                      <td ><input type="text" class="entry-actual"  kpi_id="<%=kpi.id%>" user_kpi_item_id="<%= kpi.user_kpi_item_id%>"  value="<%=value%>" /></td>

                      <td ><%=percent%></td>
                  </tr>
                  <tr>
                      <td><%= kpi.description%></td>
                      <td>Category</td>
                      <td>Trend</td>
                      <td>Target</td>
                      <td>Actual</td>
                      <td>TCR</td>
                  </tr>
          </table>
     </li>
<%end%>


