<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>NO.</th>
    <th><%= t 'entry.desc.user-name' %></th>
    <th><%= t 'entry.desc.entity' %></th>
    <th><%= t 'entry.desc.max' %></th>
    <th><%= t 'entry.desc.min' %></th>
    <th><%= t 'entry.desc.value' %></th>
    <th><%= t 'entry.desc.entry-at' %></th>
    <% @kpi.kpi_properties.each do |property| %>
        <th><%= property.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @kpi_entries.each_with_index do |kpi_entry, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td title=<%= "#{User.find(kpi_entry.user_id).email}"%>><%= User.find(kpi_entry.user_id).first_name %></td>
        <td><%= Entity.find(kpi_entry.entity_id).name %></td>
        <td><%= kpi_entry.target_max %></td>
        <td><%= kpi_entry.target_min %></td>
        <td><%= kpi_entry.value %></td>
        <td><%= kpi_entry.entry_at %></td>

        <% @kpi.kpi_properties.each do |property| %>
            <td><%= kpi_entry.respond_to?("a#{property.id.to_s}") ? kpi_entry.send("a#{property.id.to_s}") : '' %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>