<%if @prompt%>
<%= select_tag :kpi_id,options_from_collection_for_select(@kpis,'id','name'),{:id=>@options[:sid],:class=>@options[:sclass],:prompt=>'------全部------'}%>
<%else%>
   <select class="<%=@options[:sclass]%>" id="<%=@options[:sid]%>">
        <%@kpis.each do |kpi|%>
          <option value="<%=kpi.id%>" interval="<%=kpi.frequency%>"><%=kpi.name%></option>
        <%end%>
   </select>
<%end%>
