<% content_for :javascript_includes do %>
    <%= javascript_include_tag "groupDetail.js" %>
<% end %>

<div >
  <div class="analytics-condition clearfix" id="analytics-condition">
    <div class="analytics-mark pull-left" style="width:123px;">
      <h2 class="normal-blue text-center pointer" onclick="analytic_control_condition_visible()"><%= t 'analytics.title' %></h2>
    </div>
    <div class="pull-left analytics-condition-choose" style="padding: 18px 0 5px 11px;">

      <div class="index-condition-group">
        <select data-placeholder="<%= t 'analytics.kpi_category' %> *" style="width:130px;" class="chosen-select" title="analy-entity-select" id="chart-group">
          <% @categories.each do |catetory| %>
              <option value="<%= catetory.id %>"><%= catetory.name %></option>
          <% end %>
        </select>
        <select data-placeholder="<%= t 'analytics.kpi' %> *" style="width:130px;" class="chosen-select" title="analy-kpi-select" id="chart-kpi" date-pick=false>
          <option value=""></option>
        </select>
        <select data-placeholder="<%= t 'analytics.view' %> *" style="width:130px;" class="chosen-select" title="analy-view-select" id="chart-view">
          <% @entity_groups.each do |entity_group| %>
              <option value="<%= entity_group.id %>"><%= entity_group.name %></option>
          <% end %>
        </select>

      </div>

      <div class="index-condition-group" style="width:222px">
        <input style="margin-left:13px;width:120px !important;" type="text" class="index-pick-date" placeholder="<%= t 'analytics.begin_time' %> *" id="analy-begin-time"
               readonly=true/>
        <label class="index-date-extra-info"></label>
        <input style="margin-left:13px;width:120px !important;" type="text" class="index-pick-date" placeholder="<%= t 'analytics.end_time' %>" id="analy-end-time"
               readonly=true/>
        <label class="index-date-extra-info"></label>
      </div>

      <div class="index-condition-group" style="width:77px;margin-left:-25px;">
        <label class="analytics-radio-label">
          <input type="radio" name="chartRadios" value="1">
          <%= t 'analytics.sum' %> </label>
        <label class="analytics-radio-label">
          <input type="radio" name="chartRadios" value="0" checked>
          <%= t 'analytics.average' %> </label>
      </div>
      <div class="chosen-attribute">
        <select data-placeholder="<%= t 'analytics.select-dim'%>" multiple style="width:250px;" class="chosen-select " title="analy-attribute-select" id="kpi-property-select">
        </select>
      </div>


      <a class="btn btn-primary btn-normal pull-left" style="margin:14px 0 0 3px" onclick="prepare_form_chart()"><%= t 'analytics.add_chart' %></a>



    </div>

    <i class="icon-chevron-up analytic-control-condition-visible" id="analytic-control-condition-visible"
       state="open" onclick="analytic_control_condition_visible()"> </i>

    <p class="analytics-condition-invisible-mark pointer" id="analytics-condition-invisible-mark"
       style="display:none" onclick="analytic_control_condition_visible()">
      <%= t 'analytics.title' %>
    </p>
  </div>

  <div class="chart-body chart-body-sass" id="chart-body" style="display:none">
    <div class="clearfix chart-interval-alternate" id="chart-interval-alternate" my_height="28">

      <ul class="pull-right control-chart-interval-group">
        <li interval="90">
          <a>Hr</a>
        </li>
        <li interval="100">
          <a>D</a>
        </li>
        <li interval="200">
          <a>W</a>
        </li>
        <li interval="300">
          <a>M</a>
        </li>
        <li interval="400">
          <a>Qr</a>
        </li>
        <li interval="500">
          <a>Y</a>
        </li>
      </ul>
      <!------------------------------------------------   创建讨论版的按钮  -------------------------------------->
      <a class="btn btn-warning linear compare-current-btn" id="create-discuss-btn">创建讨论</a>
    </div>


    <div class="relative" id="chart-main-middle">
      <div class="chart-container " id="chart-container"></div>
      <div class="chart-container-item" id="chart-container-item">
        <ul class="items">

        </ul>
      </div>
    </div>

    <table class="chart-type-alternate" id="chart-type-alternate" my_height="70">
      <tr>
        <td class="analytics-chart-line image" type="line">
          <p style="display:block">
            Line
          </p></td>
        <td class="analytics-chart-column" type="column">
          <p>
            Column
          </p></td>

        <td class="analytics-chart-scatter" type="scatter">
          <p>
            Scatter
          </p></td>
      </tr>
    </table>

    <!------------------------------------------------   最下面的创建讨论的版  -------------------------------------->
    <div class="project-block" id="project-block" my_height="210">
      <div class="inner">
        <div class="left">
          <p>Project title</p>
          <input type="text" id="project-title"/>
          <p>Project description</p>
          <textarea id="project-desc"></textarea>
        </div>
        <div class="right">
          <div>
            <p>Attachment</p>
            <input id="item-data-uploader" type="file" name="files[]" multiple="true" data-url="/files/upload">
            <div class="abstractblock" id="item-data-uploader-preview" style="display:none;"></div>
          </div>

        </div>
        <a class="btn btn-for-project" id="cancel-fro-project">Cancel</a>
        <a class="btn btn-success btn-for-project" id="publish-fro-project">Publish</a>
      </div>
    </div>

  </div>
</div>



<div class="detail-block" id="detail-block">
  <div class="navigation">
    <a class="btn-back" id="btn-back"><i class="icon icon-chevron-left"></i><%= t 'analytics.detail.back'%></a>
    <p><span id="detail-date"></span><span id="detail-kpi"></span><span id="detail-view"></span></p>
  </div>
  <div class="content">

    <div class="assembleCondition" id="assembleCondition">
      <!--选择条件的-->
      <div class="origin" id="conditionOrigin">
        <p><%= t 'analytics.detail.dimensions'%><span>(<%= t 'analytics.detail.drag'%>)</span></p>

      </div>
      <!--已经选择的-->
      <div class="local" id="conditionLocal">
        <p><%= t 'analytics.detail.dimensions-selected'%></p>
        <ul>
        </ul>
      </div>
      <a class="btn btn-primary" id="assemble-analyse"><%= t 'analytics.detail.aggredated-analyse'%></a>
    </div>

    <div class="assembleDemonstrate" id="assembleDemonstrate">

       <div class="left">

         <div class="graph" id="pie_chart" ></div>

         <div class="big">
           <p id="assemble-name"></p>
           <p id="assemble-percent"></p>
         </div>

         <div class="small">
           <dl>
             <dt><%= t 'analytics.detail.current-val'%></dt>
             <dd id="assemble-current"></dd>
             <dt><%= t 'analytics.detail.last-period'%></dt>
             <dd  id="assemble-last"></dd>
             <dt><%= t 'analytics.detail.yearly'%></dt>
             <dd id="assemble-compare"></dd>
             <dd><i class="icon icon-arrow-up"  id="assemble-arrow"></i></dd>
           </dl>
           <dl><%= t 'analytics.detail.agg-sum'%></dt>
             <dd id="assume-sum"></dd>
             <dt><%= t 'analytics.detail.agg-average'%></dt>
             <dd id="assume-average"></dd>
             <dt><%= t 'analytics.detail.count'%></dt>
             <dd id="assume-count"></dd>
             <dt><%= t 'analytics.detail.max'%></dt>
             <dd id="assume-max"></dd>
             <dt><%= t 'analytics.detail.min'%></dt>
             <dd id="assume-min"></dd>
           </dl>
         </div>
       </div>

       <div class="right">
         <table>
            <thead id="assemble-thead">
                <tr>
                </tr>
            </thead>
            <tbody id="assemble-tbody">
            </tbody>
         </table>
       </div>
    </div>

  </div>

</div>

<div class="detail-table-compare-block" id="detail-table-compare-block">
  <div class="inner">
    <div class="header">
      <p id="table-compare-condition"></p>
      <p id="table-compare-kpi"></p>
      <p id="table-compare-view"></p>
      <i class="icon icon-remove" id="detail-table-remove"></i>
    </div>
    <div class="graph" id="table-detail-line"></div>
    <div class="footer">
      <dl>
        <dt><%= t 'analytics.detail.sum'%></dt>
        <dd id="table-compare-sum"></dd>
      </dl>
      <dl>
        <dt><%= t 'analytics.detail.average'%></dt>
        <dd id="table-compare-average"></dd>
      </dl>
      <dl>
        <dt><%= t 'analytics.detail.max'%></dt>
        <dd id="table-compare-max"></dd>
      </dl>
      <dl>
        <dt><%= t 'analytics.detail.min'%></dt>
        <dd id="table-compare-min"></dd>
      </dl>
    </div>
  </div>
</div>

<div class="back-pop" id='back-pop'>
     <div class="choose-project-team">
       <i class="icon icon-remove" id="remove-back-pop"></i>
       <p>选择讨论组</p>
         <div class="choose-by-select">
           <p>加入已有讨论组</p>
           <select data-placeholder="选择讨论组" class="chosen-select" >
             <option>1</option>
             <option>2</option>
           </select>
           <a class="btn btn-primary">加入</a>
         </div>
         <div class="choose-by-create">
           <p>创建新的讨论组</p>
           <input type="text" id="storyset-title" placeholder="讨论组名称"/>
           <input type="text" id="storyset-desc" placeholder="讨论组描述"/>
           <select multiple class="chosen-select" data-placeholder="选择成员" id="storyset-users">
                <option>asd</option>
           </select>
           <a class="btn btn-primary">创建并加入</a>
         </div>
     </div>
</div>


<% content_for :javascript_includes do %>
    <%= javascript_include_tag "moment.min.js" %>
    <%= javascript_include_tag "highstock.js" %>
    <%= javascript_include_tag "highcharts-3d.js" %>
    <%= javascript_include_tag "exporting.js" %>
    <%= javascript_include_tag "exporting.extend.src.js" %>
    <%= javascript_include_tag "high_chart_template_analytic.js" %>
    <%= javascript_include_tag "high_chart_template_detail.js" %>
    <%= javascript_include_tag "Analytics_init.js" %>
    <%= javascript_include_tag "bootstrap-datepicker.js" %>
    <%= javascript_include_tag "date_picker_template.js" %>
    <%= javascript_include_tag "bootstrap-datetimepicker.min.js" %>
    <%= javascript_include_tag "jquery.ui/jquery-ui-wayne.min.js" %>


    <%= javascript_include_tag "jquery.ui/jquery-ui-1.10.3.custom.min.js" %>
    <%= javascript_include_tag "jquery.file.upload/jquery.fileupload.js" %>
    <%= javascript_include_tag "story_manage.js" %>
<% end %>

<!------------------------------------------------   2014.7.2 demo 很多JS主要写在下面  -------------------------------------->

<script>
    $(document).ready(function () {
        init_analytics();
        attach_upload("item-data-uploader");
        $("body")
                .on("click",".attachment-item-remove",function(event){
                    if (confirm('Sure to delelte?')) {
                        var e = event ? event : (window.event ? window.event : null);
                        var obj = e.srcElement || e.target;
                        e.stopPropagation();
                        $(".attachment-item[path-name='" + $(obj).attr("path-name") + "']").remove();
                    }
                })
                .on("click","#create-discuss-btn",function(){
                    show_project_block();
                })
                .on("click","#cancel-fro-project",function(){
                    hide_project_block();
                })
                .on("click","#publish-fro-project",function(){
                    $("#back-pop").addClass("show")
                })
                .on("click","#remove-back-pop",function(){
                    $("#back-pop").removeClass("show")
                })
    });
    $(window).resize(function () {
        resize_chart.body();
        resize_chart.container();
    });
</script>