<ul class="entry-left-menu" id="entry-left-menu">
  <li>
    <%= t 'entry.desc.entry' %>
  </li>
  <div class="btn btn-primary upload-kpi-btn" id="upload-kpi-btn">
    <%= I18n.t('fix.upload_kpi') %>
  </div>
  <li class="<%= 'active' if @f==KpiFrequency::Hourly %>" interval="<%= KpiFrequency::Hourly %>" show_section="hour">
    <a href="/kpi_entries/index/<%= KpiFrequency::Hourly %>"><%= t 'manage.kpi.freq_item.hourly' %></a>
  </li>
  <li class="<%= 'active' if @f==KpiFrequency::Daily %>" interval="<%= KpiFrequency::Daily %>" show_section="day">
    <a href="/kpi_entries/index/<%= KpiFrequency::Daily %>"><%= t 'manage.kpi.freq_item.daily' %></a>
  </li>
  <li class="<%= 'active' if @f==KpiFrequency::Weekly %>" interval="<%= KpiFrequency::Weekly %>" show_section="day">
    <a href="/kpi_entries/index/<%= KpiFrequency::Weekly %>"><%= t 'manage.kpi.freq_item.weekly' %></a>
  </li>
  <li class="<%= 'active' if @f==KpiFrequency::Monthly %>" interval="<%= KpiFrequency::Monthly %>" show_section="month">
    <a href="/kpi_entries/index/<%= KpiFrequency::Monthly %>"><%= t 'manage.kpi.freq_item.monthly' %></a>
  </li>
  <li class="<%= 'active' if @f==KpiFrequency::Quarterly %>" interval="<%= KpiFrequency::Quarterly %>" show_section="month">
    <a href="/kpi_entries/index/<%= KpiFrequency::Quarterly %>"><%= t 'manage.kpi.freq_item.quarterly' %></a>
  </li>
  <li class="<%= 'active' if @f==KpiFrequency::Yearly %>" interval="<%= KpiFrequency::Yearly %>" show_section="year">
    <a href="/kpi_entries/index/<%= KpiFrequency::Yearly %>"><%= t 'manage.kpi.freq_item.yearly' %></a>
  </li>
</ul>

<div class="entry-right-content" style="overflow: visible">
  <div class="Search">
    <h3>KPI</h3>

    <div id="kpi_date">
      <div class="entry-block">
        <!--<i class="icon-chevron-left" id="entry-minus"></i>-->
        <input type="text" readonly=true id="entry-date-picker"/>
        <span id="entry-date-extra"></span>
        <!--<i class="icon-chevron-right" id="entry-plus"></i>-->
      </div>

      <div class="entry-block">
        <input type="text" readonly=true id="entry-date-picker-to"/>
        <span id="entry-date-extra-to"></span>
      </div>

      <input type="button" id="searchkpi" value="查询" class="btn btn-primary" onclick="BtnSearchKpi()">
    </div>
  </div>

  <div id="tabs">
    <ul>
      <% @kpis.each_with_index do |kpi, i| %>
          <li title="<%= kpi.id %>">
            <a href="#tabs-1"><%= kpi.name %></a>
          </li>
      <% end %>
    </ul>
    <hr id="kpi_hr"/>
    <div id="tabs-1">

    </div>
  </div>
</div>

<div class="modal-outer" id="upload-kpi">
  <div class="upload-kpi modal-inner">
    <i class="icon-remove" id="upload-kpi-close"></i>
    <a class="btn btn-primary download-btn" href="<%= download_entry_template_kpis_path %>">
      <%= I18n.t('fix.download_template') %>
    </a>

    <p class="template-info"><i class="icon-info-sign"></i> <%= I18n.t('fix.upload_info') %></p>
    <hr/>
    <div class="content">
      <div class="upload-file">
        <a class="btn btn-primary upload-btn" onclick="$('#kpi-entry-uploader').click()">      <%= I18n.t('fix.upload_data_file') %></a>
        <input id="kpi-entry-uploader" class="kpi-entry-upload" type="file" style="display: none;" data-url="/kpi_entries/import" name="files[]">

        <div id="kpi-entry-uploader-preview">
        </div>
      </div>
    </div>
    <p class="upload-parsing" id="parsing-load">
      <%= I18n.t('fix.kpi_upload_support_format') %>
    </p>

    <div class="btn upload-finish" id="upload-kpi-finish">
      <%= I18n.t('fix.upload_finish') %>
    </div>
  </div>
</div>

<div class="modal-outer false-alert" id="false-alert">
  <div class="modal-inner false-alert-inner">
    <i class="icon-remove" id="false-close"></i>
    <label class="title"><%= I18n.t('fix.error_title') %></label>

    <p><%= I18n.t('fix.upload_error') %></p>

    <p><a href="" id="error-report"><%= I18n.t('fix.click_download_error') %></a></p>

    <div class="btn false-close-btn" id="false-close-btn">
      <%= I18n.t('fix.close') %>
    </div>
  </div>
</div>

<!--<input type="hidden" value="<%= @f %>" id="kpi-type-hidden"/>-->
<script>

    var ClientHig = document.documentElement.clientHeight;
    var ClientWid = document.documentElement.clientWidth;

    var kpi_ul = document.getElementById('tabs');
    var kpi_li = kpi_ul.getElementsByTagName("li");

    var DateFrom, DateTo;

    $(document).ready(function () {

        kpi_entry_upload();

        //直接执行
        OnloadShow(ENTRY.init(), ENTRYTO.init());

        ClickKpi();
    });

    $('#tabs').tabs();

    //set the Height for panel
    $('#tabs-1').css({height: ClientHig * 0.70 + 'px'}, {width: ClientWid * 0.8 + 'px'});

    function kpi_ajax(id, startdate, enddate) {
        $.ajax({
            url: '/kpi_entries/history',
            type: 'get',
            data: {
                id: id,
                startdate: startdate,
                enddate: enddate
            },
            dataType: "html",
            success: function (data) {
                $("#tabs-1").html(data);
            }
        });
    }

    //进入界面的时候 进行请求
    function OnloadShow(startdate, enddate) {
        if (kpi_li.length != 0) {
            kpi_ajax(kpi_li[0].title, startdate, enddate);
            console.log("here is the page onload..." + "kpi_li[0]---->" + kpi_li[0].title + ",startdate--->" + startdate + ",enddate--->" + enddate);
        } else {
            NothingToShow();
        }
    }

    function ClickKpi() {
        for (var i = 0; i < kpi_li.length; i++) {
            kpi_li[i].onclick = (function (i) {
                return function () {
                    //Get date
                    DateFrom = document.getElementById('entry-date-picker').value;
                    DateTo = document.getElementById('entry-date-picker-to').value;

                    kpi_ajax(kpi_li[i].title, DateFrom, DateTo);
                    console.log("click kpi_li[i]----->" + kpi_li[i].title + ",startdate--->" + DateFrom + ",enddate--->" + DateTo);
                }
            }(i))
        }
    }


    function NothingToShow() {
        var tabshow = document.getElementById('tabs-1');
        tabshow.innerHTML = "No Kpi to Show";
        tabshow.className = 'NothingToShow';
        tabshow.style.paddingTop = ClientHig / 3 + 'px';
        document.getElementById('kpi_hr').style.display = "none";
    }

    function BtnSearchKpi() {
        DateFrom = document.getElementById('entry-date-picker').value;
        DateTo = document.getElementById('entry-date-picker-to').value;

        for (var i = 0; i < kpi_li.length; i++) {
            if (kpi_li[i].getAttribute("aria-selected") == "true") {
                kpi_ajax(kpi_li[i].title, DateFrom, DateTo);
                console.log("kpi_li[i]+search----->" + kpi_li[i].title + ",start_date--->" + DateFrom + ",end_date--->" + DateTo);
            }
        }
    }

    /* if (document.getElementById('entry-date-picker').value != "") {
     DateFrom = document.getElementById('entry-date-picker').value;
     DateTo = document.getElementById('entry-date-picker-to').value;
     ClickKpi(DateFrom, DateTo);
     console.log("ready DateFrom  DateTo--->" + DateFrom + "..." + DateTo);
     } else {
     console.log("here is the date first.")
     DateFrom = ENTRY.init();
     DateTo = ENTRYTO.init();
     kpi_ajax(kpi_li[0].title, DateFrom, DateTo);
     ClickKpi(DateFrom, DateTo);
     }
     */

    /*
     function ClickKpi(startdate, enddate) {
     if (kpi_li.length != 0) {
     kpi_ajax(kpi_li[0].title, startdate, enddate);
     console.log("kpi_li[0]---->" + kpi_li[0].title + ",startdate--->" + startdate + ",enddate--->" + enddate);
     for (var i = 0; i < kpi_li.length; i++) {
     kpi_li[i].onclick = (function (i) {
     return function () {
     kpi_ajax(kpi_li[i].title, startdate, enddate);
     console.log("kpi_li[i]----->" + kpi_li[i].title + ",startdate--->" + startdate + ",enddate--->" + enddate);
     }
     }(i))
     }
     } else {
     NothingToShow();
     }
     }*/
</script>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "jquery.ui/jquery-ui-1.10.3.custom.min.js" %>
    <%= javascript_include_tag "jquery.file.upload/jquery.fileupload.js" %>

    <%= javascript_include_tag "kpi_entry_upload.js" %>
    <%= javascript_include_tag "Entry.js" %>
    <%= javascript_include_tag "Entry-to.js" %>

    <%= javascript_include_tag "bootstrap-datepicker.js" %>
    <%= javascript_include_tag "date_picker_template.js" %>

    <%= javascript_include_tag "bootstrap-datetimepicker.min.js" %>
    <%= javascript_include_tag "Manage-kpi-entry.js" %>

    <%= stylesheet_link_tag "KPIEntry.css" %>
<% end %>