
<ul class="entry-left-menu" id="entry-left-menu">
        <li>KPI Entry</li>
        <li class="<%= 'active' if @f==KpiFrequency::Hourly%>" interval="90" show_section="hour">
            <a  href="/kpi_entries/new?f=<%= KpiFrequency::Hourly%>">Hour</a>
        </li>
        <li class="<%= 'active' if @f==KpiFrequency::Daily%>" interval="100" show_section="day">
            <a  href="/kpi_entries/new?f=<%= KpiFrequency::Daily%>">Day</a>
        </li>
        <li class="<%= 'active' if @f==KpiFrequency::Weekly%>" interval="200" show_section="day">
            <a  href="/kpi_entries/new?f=<%= KpiFrequency::Weekly%>">Week</a>
        </li>
        <li class="<%= 'active' if @f==KpiFrequency::Monthly%>" interval="300" show_section="month">
            <a  href="/kpi_entries/new?f=<%= KpiFrequency::Monthly%>">Month</a>
        </li>
        <li class="<%= 'active' if @f==KpiFrequency::Quarterly%>" interval="400" show_section="month">
            <a  href="/kpi_entries/new?f=<%= KpiFrequency::Quarterly%>">Quarter</a>
        </li>
        <li class="<%= 'active' if @f==KpiFrequency::Yearly%>" interval="500" show_section="year">
            <a   href="/kpi_entries/new?f=<%= KpiFrequency::Yearly%>" >Year</a>
        </li>
</ul>

<div class="entry-right-content">
        <div class="entry-block">
            <i class="icon-chevron-left" id="entry-minus"></i>
            <input type="text" readonly=true id="entry-date-picker"/>
            <i class="icon-chevron-right" id="entry-plus"></i>
            <span id="entry-date-extra"></span>
        </div>
        <ul class="entry-sort-list" id="entry-sort-list">

        </ul>
 </div>

<input type="hidden" value="<%=@f%>" id="kpi-type-hidden" />
<script>
    $(document).ready(function(){
       ENTRY.init();
    })
</script>