
<p><%= @story.title %></p>
<p><%= @story.description %></p>
<hr/>

<div id="story-partial" class="story-partial">
  <%= render partial: 'chart' %>
  <div>
    <p>Attachments:</p>
    <% @story.attachments.each do |attach| %>
        <div class="attachment-item inline-block" title="<%= attach.name %>">
          <div class="attachment-sign atta-<%= attach.type %>" href="<%= attach.path %>">
            <a href="<%= attach.path %>" class='attach-download' target="_blank">
              <div class="attachment-operate" title="下载">
                <i class="icon-arrow-down icon-white pointer pull-right"> </i>
              </div>
            </a>
          </div>
          <p class="attachment-p">
            <%= attach.name %>
          </p>
        </div>
    <% end %>
  </div>

  <a id="comments-btn"><i class="icon  icon-comments-alt"></i> comments()</a>

  <div class="comment-area">
    <div class="form">
      <textarea placeholder="leave your comment here ..." class="form-control my_post_comment" id="comment-content"></textarea>
      <input type="button" class="btn btn-warning comment-submit-button" value="comment" onclick="create_comment();"/>
    </div>

    <ul class="comment-content-list">
      <% @comments.each_with_index do |comment, i| %>
          <li>
            <p><a><%= comment.user_name %>:</a><%= comment.content %></p>
            <span><%= time_ago_in_words(comment.created_at.localtime) %></span>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        attach_upload("comment-item-data-uploader");
        $('.atta-image').magnificPopup({type: 'image'});
    });
</script>
<input type="hidden" id="current-story" value="<%= @story.id %>"/>
