<table class=" table table-bordered table-striped">
  <thead>
  <tr>
    <th>日期</th>
    <th>展示列表</th>
  </tr>
  </thead>

  <tbody>
  <% Date.today.upto(Date.today + 7.days).each do |date| %>
      <tr>
        <td class="display_date"><%= date %></td>
        <td>
          <% DisplaySetListService.display_product_line(date,@remark).each do |d| %>
              <% if d[:status] %>
                  <input type="checkbox" class="CheckBox" id="<%= d[:id] %>" checked><%= d[:cn_name] %>
              <% else %>
                  <input type="checkbox" class="CheckBox" id="<%= d[:id] %>"><%= d[:cn_name] %>
              <% end %>
          <% end %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">

    $('.CheckBox').change(function () {
        var ProductLineId = $(this).attr('id');
        var display_date = $(this).parent().prev().text();
        var Status = $(this).attr("checked") == 'checked';
        console.log($('.display-setting:checked').val());
        $.ajax({
            url: '/display_set_lists/set_product_line',
            type: 'post',
            data: {
                remark: $('.display-setting:checked').val(),
                date: display_date,
                product_line_id: ProductLineId,
                status: Status
            },
            success: function (data) {
//location.reload();
            },
            error: function () {
            },
            complete: function (xhr) {
                if (xhr.status == 304) return;
            }
        });
    });
</script>