<div class="page-navi login-pageNavi relative">
     <a class="btn btn-wzx btn-primary" href='/user_sessions/new'><%= t 'auth.view.login_title'%></a>
</div>
<% if @user && @user.errors.any? %>
<div id="error_explanation" class="error_explanation ">
     <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li>
               <%= msg %>
          </li>
          <% end %>
     </ul>
</div>
<% end %>
<%= form_tag({:action=>'create'},{:class=>'login-form'})  do %>

<label for="email"><%= t 'auth.view.email'%></label>
<%= text_field_tag(:email) %>

<label for="password"><%= t 'auth.view.pwd'%></label>
<%= password_field_tag(:password ) %>

<label for="password_confirmation"><%= t 'auth.view.con_pwd'%></label>
<%= password_field_tag(:password_confirmation) %>

<label for="company_name"><%= t 'auth.view.company'%></label>
<%= text_field_tag(:company_name) %>

<input type="submit" class="btn btn-wzx btn-success pull-right" value="<%= t 'auth.view.submit_btn'%>"/>
<% end %>