<% if @user && @user.errors.any? %>
<div id="error_explanation" class="error_explanation ">
     <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li>
               <%= msg %>
          </li>
          <% end %>
     </ul>
</div>
<% end %>
<form action="/subscriptions" method="post">
     <div class="log-input">
          <span><i class="icon-envelope"></i></span>
          <input type="text" id="email" name="email"  placeholder="<%= t 'auth.view.email'%>"/>
     </div>
     <div class="log-input">
          <span><i class="icon-lock"></i></span>
          <input id="password" name="password" type="password"   placeholder="<%= t 'auth.view.pwd'%>"/>
     </div>
     <div class="log-input">
          <span><i class="icon-lock"></i></span>
          <input  id="password_confirmation" name="pass word_confirmation" type="password" placeholder="<%= t 'auth.view.con_pwd'%>"/>
     </div>
     <div class="log-input">
          <span><i class="icon-home"></i></span>
          <input id="company_name" name="company_name" type="text"  placeholder="<%= t 'auth.view.company'%>"/>
     </div>
</form>
<a class="login-out-btn" onclick="document.forms[0].submit();"></a>
