<%= form_for(@display_set_list) do |f| %>
  <% if @display_set_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@display_set_list.errors.count, "error") %> prohibited this display_set_list from being saved:</h2>

      <ul>
      <% @display_set_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
