<ul id="manage-sort-list" class="manage-sort-list">
  <% @kpis.each do |kpi| %>
      <li id="<%= kpi.id %>">
        <table class="category" special="my-kpi">
          <tr>
            <td title='<%= kpi.name %>'><%= kpi.name %></td>
            <td><%= kpi.id %></td>
            <td>
              <p>
              <% kpi.kpi_subscribes.each do |ks| %>
                  <span><%= ks.kpi_id %></span>
              <% end %>
              </p>
            </td>
            <td>
              <a class="btn btn-success">添加订阅</a>
            </td>
          </tr>
          <tr>
            <td title='<%= kpi.description %>'><%= kpi.description %></td>
            <td>KPI ID</td>
            <td>订阅</td>
            <td>操作</td>
          </tr>
        </table>
      </li>
  <% end if @kpis %>
</ul>

