<ul id="manage-sort-list" class="manage-sort-list">
  <% @kpis.each do |kpi| %>
      <li id="<%= kpi.id %>">
        <table class="category" special="my-kpi">
          <tr>
            <td title='<%= kpi.name %>'><%= kpi.name %></td>
            <td><%= kpi.id %></td>
          </tr>
          <tr>
            <td title='<%= kpi.description %>'><%= kpi.description %></td>
            <td>KPI ID</td>
          </tr>
        </table>
      </li>
  <% end if @kpis %>
</ul>

