<h1>Listing kpi_subscribes</h1>

<table>
  <tr>
    <th>kpi</th>
  </tr>

<% @kpi_subscribes.each do |kpi_subscribe| %>
  <tr>
    <td><%= kpi_subscribe.kpi_id%></td>
    <td><%= link_to 'Show', kpi_subscribe %></td>
    <td><%= link_to 'Edit', edit_kpi_subscribe_path(kpi_subscribe) %></td>
    <td><%= link_to 'Destroy', kpi_subscribe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kpi subscribe', new_kpi_subscribe_path %>
