<div class="story-set-new kpi-subscribes-new">
  <p><%= t 'subscription.add'%></p>
  <div class="divide"></div>
  <div class="form">
    <p id="kpi-id" kpi-id="<%=@kpi.id%>"  kpi-interval= "<%= @kpi.frequency %>" class="kpi-title"><%= @kpi.name %></p>
    <p><%= t 'subscription.add-sub.department'%></p>
    <select id="entity-groups" style="height: 30px; width:423px; margin: 5px;" class="chosen-select">
      <% @entity_groups.each do |entity_group| %>
          <option value="<%= entity_group.id %>"><%= entity_group.name %></option>
      <% end %>
    </select>

    <p><%= t 'subscription.add-sub.time'%></p>
    <div class="time-range" style="margin: 5px 0px;">
      <input type='text' id="start-time" placeholder="<%= t 'subscription.add-sub.start-time'%>" />
      <label></label>
      <input type='text' id="end-time" placeholder="<%= t 'subscription.add-sub.end-time'%>" />
      <label></label>
    </div>

    <select style="height: 30px; width:423px; margin: 5px" id="calculate-type" class="chosen-select">
      <option value="0"><%= t 'subscription.add-sub.average'%></option>
      <option value="1"><%= t 'subscription.add-sub.total'%></option>
    </select>





    <p><%= t 'subscription.add-sub.alert_type'%></p>
    <div class="extreme">
      <select style="height: 30px; width:423px;margin: 5px" id="alert-type" class="chosen-select">
        <% SubscribeAlert.list_type.each do |menu|%>
            <option value="<%= menu[:type]%>"><%= menu[:display]%></option>
        <%end%>
      </select>
      <input type='number' id="value" placeholder="<%= t 'subscription.add-sub.value'%>" style="width:407px !important" />
      <ul id="alert-list" class="alert-list" style="margin: 5px;padding-left:16px;font-size:13px;color:#ef9f2c">
      </ul>
    </div>

    <p>Alert method</p>
    <select style="height: 30px; width:423px; margin: 5px" id="calculate-type" class="chosen-select">
      <option value="0">SMS</option>
      <option value="1">E-mail/option>
    </select>


    <a class="btn btn-primary" id="story-create-btn" onclick="MANAGE.kpi_subscribe.create()"> <%= t 'subscription.create'%> </a>
    <%= link_to (t 'subscription.cancel'), mine_kpi_subscribes_path,:class=>"btn" %>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        MANAGE.kpi_subscribe.init_new();

        var target = "#start-time,#end-time";
        var interval= $("#kpi-id").attr("kpi-interval");

        new DATE_PICKER[interval](target, "date").datePicker();

        $("body").on("change", "#start-time",function () {
            var interval = $("#kpi-id").attr("kpi-interval");
            if (interval == "200") {
                var week = standardParse($(this).val()).date.toWeekNumber();
                $(this).next().text("week " + week);
            }
            else if (interval == "400") {
                var quarter = standardParse($(this).val()).date.monthToQuarter();
                $(this).next().text("quarter " + quarter);
            }
        }).on("change", "#end-time", function () {
                    var interval = $("#kpi-id").attr("kpi-interval");
                    if (interval == "200") {
                        var week = standardParse($(this).val()).date.toWeekNumber();
                        $(this).next().text("week " + week);
                    }
                    else if (interval == "400") {
                        var quarter = standardParse($(this).val()).date.monthToQuarter();
                        $(this).next().text("quarter " + quarter);
                    }
                });

    })
</script>
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "kpi_subscribe_manage.js" %>
    <%= javascript_include_tag "bootstrap-datepicker.js" %>
    <%= javascript_include_tag "date_picker_template.js" %>
    <%= javascript_include_tag "chart-util.js" %>
    <%= javascript_include_tag "bootstrap-datetimepicker.min.js" %>
<% end %>
