<div class="dashboard-content" id="dashboard-content">
  <div id="dash-normalsize" class="gridster dash-content">
    <ul class="dashBoard-show" id="dashBoard-show">
    </ul>
  </div>
</div>

<div class="dashboard-content-full" id="dashboard-content-full">
  <div id="full-size-title" class="full-size-title">
    <p class="full-size-label"></p>
    <!--
    <a id="full-size-btn" class="btn full-size-btn"><%= t 'dashboard_group.base.restore'%></a>
    -->
  </div>
  <div id="dash-fullsize" class="gridster black">
    <ul class="dashBoard-show" id="dashBoard-show-full">
      <!--Daily-->
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="1"  class="gs-w" style="display: list-item;"><div id="example-one" class="example-container"></div></li>
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="2" class="gs-w" style="display: list-item;"><div id="example-two" class="example-container"></div></li>
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="3" class="gs-w" style="display: list-item;"><div id="example-three" class="example-container"></div></li>
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="4" class="gs-w" style="display: list-item;"><div id="example-four" class="example-container"></div></li>
      <!--Weekly-->
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="5"  class="gs-w" style="display: list-item;"><div id="example-five" class="example-container"></div></li>
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="6" class="gs-w" style="display: list-item;"><div id="example-six" class="example-container"></div></li>
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="7" class="gs-w" style="display: list-item;"><div id="example-seven" class="example-container"></div></li>
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="8" class="gs-w" style="display: list-item;"><div id="example-eight" class="example-container"></div></li>
      <!--Monthly-->
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="9"  class="gs-w" style="display: list-item;"><div id="example-nine" class="example-container"></div></li>
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="10" class="gs-w" style="display: list-item;"><div id="example-ten" class="example-container"></div></li>
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="11" class="gs-w" style="display: list-item;"><div id="example-eleven" class="example-container"></div></li>
      <li data-sizex="4" data-sizey="1" data-col="1" data-row="12" class="gs-w" style="display: list-item;"><div id="example-twelve" class="example-container"></div></li>
    </ul>
  </div>
</div>

<% content_for :javascript_includes do%>
    <%= javascript_include_tag "2_column_right_nav"%>

    <%= javascript_include_tag "highcharts.js"%>
    <%= javascript_include_tag "highcharts-more.js"%>
    <%= javascript_include_tag "exporting.js"%>
    <%= javascript_include_tag "exporting.extend.src.js"%>
    <%= javascript_include_tag "jquery.gridster.js"%>
    <%= javascript_include_tag "jquery.gridster.with-extras.js"%>

    <%= javascript_include_tag "ifepm.activeSelector.js"%>
    <%= javascript_include_tag "ifepm.text.js"%>
    <%= javascript_include_tag "ifepm.config.js"%>
    <%= javascript_include_tag "dashboard.js"%>
    <%= javascript_include_tag "ifepm.grid.main.js"%>
    <%= javascript_include_tag "ifepm.dashboard.template.js"%>
    <%= javascript_include_tag "ifepm.dashboard.main.js"%>

    <%= javascript_include_tag "high_chart_template.js"%>
    <%= javascript_include_tag "high_chart_theme.js"%>
    <%= javascript_include_tag "Dashboard-add.js"%>
    <%= javascript_include_tag "Dashboard-init.js"%>
    <%= javascript_include_tag "dashboard_type_special.js"%>
    <%= javascript_include_tag "DashboardExampleChart" %>
<%end%>

<script type="text/javascript">
  function fullsize(){
      ifepm.dashboard_widget.init_fullsize();
      on_full_size();
//      $("#dash-fullsize").height()
//      window.setTimeout(function(){
//          var height=$(document).height();
//          $("#dashboard-content-full").css("height",height+"px");
//      },1000)
      //console.log("fullsize");
  }

  //can use destroy
  $(document).ready(function (){
      var KPIArray=[ "E1","PPM_L","RFT_L","OEE_L","E1","PPM_L","RFT_L","OEE_L","E1","PPM_L","RFT_L","OEE_L"],
              i,
              departmentArray={
                  "0":["MB","GM","Local","Cutting"],
                  "1":["MB","GM","Local","Cutting"],
                  "2":["MB","GM","Local"],
                  "3":["BU-MB","BU-GM","BU-VW"],
                  "4":["MB","GM","Local","Cutting"],
                  "5":["MB","GM","Local","Cutting"],
                  "6":["MB","GM","Local"],
                  "7":["BU-MB","BU-GM","BU-VW"],
                  "8":["MB","GM","Local","Cutting"],
                  "9":["MB","GM","Local","Cutting"],
                  "10":["MB","GM","Local"],
                  "11":["BU-MB","BU-GM","BU-VW"]
              },
              intervalArray=[100,100,100,100,200,200,200,200,300,300,300,300],
              $targets=$("#dashBoard-show-full").find(".example-container");
      for(i=0;i<KPIArray.length;i++){
          (function(i){
              $.get("/dashboard_items/fake_data",
                      {kpi:KPIArray[i],department:departmentArray[""+i],interval:intervalArray[i]},
                      function(data){
                          var height=function(i){
                              if($targets.eq(i).parents(".gs-w").height()===0){
                                  return height(++i);
                              }
                              else{
                                  return $targets.eq(i).parents(".gs-w").height();
                              }
                          }
                          var boolPPM=KPIArray[i].indexOf("PPM");
                          var option={
                              height:height(i),
                              target:$targets.eq(i).attr("id"),
                              kpi:data.title,
                              date:data.time,
                              departmentArray:departmentArray[""+i],
                              currentArray:data.value,
                              targetArray:data.target,
                              ppm:boolPPM===-1?0:1
                          };
                          var one=new DashBoardExampleChart(option);
                          one.init();
                      }
              )
          })(i);

      }
      init_component();
      //DASHBOARD.init();
      right_nav_main.init();
      $("#dashboard-content-full").css("display","block");
      DASHBOARD.add.init();
      fullsize();
      //current_dashboard_id = $("#dashboard-content-full").attr("dashboard-id");
      //select_dashboard(current_dashboard_id,fullsize);
      //current_dashboard_name = $("#dashboard-content-full").attr("dashboard-name");

  });
</script>
