<div class="left-category pull-left">
     <ul class="manage-group" id="manage-group-kpi">
          <li>
               <h3 class="no-margin">类别</h3>
          </li>
          <%@categories.each do |category|%>
          <li class="<%= category.id==@active_category_id ? 'active' : ''%>">

               <i class="icon-remove hide pull-left" number="<%= category.id%>" belong="kpi" onclick="remove_leftNav(event)"></i>
               <i class="icon-pencil hide pull-left" number="<%= category.id%>" belong="kpi" onclick="edit_leftNav(event)"></i>
               <a href="../kpis?p=<%= category.id%>"><%= category.name %></a>

          </li>
          <%end%>
          <li>
               <button class="btn btn-primary" onclick="create_entityBlock()">
                    创建类别
               </button>
          </li>
          <div class="absolute creat-entity-block hide" id="creatEntity-block">
               <p>
                    创建类别
               </p>
               <i class="icon-remove pull-right" onclick="close_createEntity()"></i>
               <input type="text" id="creat-newEntity" onkeyup="create_entity(event)"/>
          </div>
          <div class="absolute creat-entity-block hide" id="edit-block">
               <p>
                    修改
               </p>
               <i class="icon-remove pull-right" onclick="close_editBlock()"></i>
               <input type="text" id="change-leftNavi" onkeyup="change_leftNavi(event)"/>
          </div>
     </ul>
</div>
