<%=stylesheet_link_tag "story_sets/addChart" %>
<section class="outer">
  <div class="left">
    <div class="panel">
      <a class="btn btn-primary back-btn" href="/story_sets/<%= @story_set_id %>/story">Back</a>
      <p class="title">Generate Chart</p>
      <select class="chosen-select" data-placeholder="type" id="type">
        <option></option>
        <% @categories.each do |catetory| %>
            <option value="<%= catetory.id %>"><%= catetory.name %></option>
        <% end %>
      </select>
      <select class="chosen-select" data-placeholder="kpi" id="kpi">
        <option></option>
      </select>
      <select class="chosen-select" data-placeholder="view" id="view">
        <option></option>
        <% @entity_groups.each do |entity_group| %>
            <option value="<%= entity_group.id %>"><%= entity_group.name %></option>
        <% end %>
      </select>
      <p class="date-mark">Date range</p>
      <div class="date-box">
        <a class="switch-btn" original-title="switch date type" id="switch-btn"><i class="icon icon-refresh"></i></a>
        <div class="input-daterange input-group range" id="date-range">
            <input type="text" class="input-sm form-control" name="start" />
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="end" />
        </div>
        <div class="precise disappear" id="date-precise">
            <label>Last</label>
            <input type="number" value="1"/>
          <select class="chosen-select" style="width:100px;">
            <option vlaue="1">Days</option>
            <option>Months</option>
            <option>Quarters</option>
            <option>Years</option>
          </select>
        </div>
      </div>
      <a class="btn btn-discussion chart-btn" id="add-chart"><i class="icon icon-plus"></i> Add chart</a>
      <a class="btn btn-discussion chart-btn" id="clear-all"><i class="icon  icon-ban-circle"></i> Clear all</a>
      <a class="btn btn-success general-btn">Save</a>
    </div>
  </div>
  <div class="right" id="add-chart-right">
    <div class="info">
      <p class="date-mark">time begin - time end</p>
      <ul class="chart-type" id="chart-type">
        <li name="line"><a></a></li>
        <li name="column"><a></a></li>
        <li name="pie"><a></a></li>
        <li name="scatter"><a></a></li>
      </ul>
    </div>
    <div class="chart">
      <div id="chart-container" style="width:99%;height:99%"></div>
    </div>
    </div>
  </div>
</section>