<div>
     <div class="chart-body" id="chart-body" style="display:none">
          <div class="relative" id="chart-main-middle">
               <div class="chart-container " id="chart-container"></div>
          </div>
     </div>
</div>
<input type="hidden" value="<%= @kpi_id%>" id="kpi-id-hidden"/>
<input type="hidden" value="<%= @kpi_name%>" id="kpi-name-hidden"/>
<input type="hidden" value="<%= @entity_group_id%>" id="entity-group-id-hidden"/>
<input type="hidden" value="<%= @entity_group_name%>" id="entity-group-name-hidden"/>
<input type="hidden" value="<%= @kpi_name%>" id="kpi-name-hidden"/>
<input type="hidden" value="<%= @start_time%>" id="start-time-hidden"/>
<input type="hidden" value="<%= @end_time%>" id="end-time-hidden"/>
<input type="hidden" value="<%= @frequency%>" id="frequency-hidden" />
<input type="hidden" value="<%= @type%>" id="type-hidden" />
<input type="hidden" value="<%= @average%>" id="average-hidden" />
<% content_for :javascript_includes do%>
<%= javascript_include_tag "highstock.js"%>
<%= javascript_include_tag "high_chart_template_analytic.js"%>
<%= javascript_include_tag "Analytics_init.js"%>
<%end%>

<script>
     $(document).ready(function() {
          prepare_form_cchart();
     }); 
     function prepare_form_cchart() {
          var kpi = $("#kpi-id-hidden").val();
          var kpi_name= $("#kpi-name-hidden").val();
          var view = $("#entity-group-id-hidden").val();
          var view_text =$("#entity-group-name-hidden").val();
          var method = $("#average-hidden").val()
          var interval = $("#frequency-hidden").val(), type = $("#type-hidden").val(), chart_body_close_validate;
          var begin_time = $("#start-time-hidden").val(), end_time = $("#end-time-hidden").val();

          if($("#chart-body").css("display") == "block") {
               chart_body_close_validate = false;
          } else {
               chart_body_close_validate = true;
          }
          if(kpi && begin_time && view) {
               if(end_time) {
                    var compare_result = compare_time(begin_time, end_time);
                    begin_time = compare_result.begin;
                    end_time = compare_result.end;
               } else {
                    end_time = begin_time
               }

               var option = {
                    kpi : kpi_name,
                    kpi_id : kpi,
                    target : "chart-container",
                    begin_time : begin_time,
                    end_time : end_time,
                    type : type,
                    interval : interval,
                    count : ANALYTICS.chartSeries.count + 1,
                    view : view,
                    view_text : view_text,
                    method : method,
                    chart_body_close_validate : chart_body_close_validate
               };
               ANALYTICS.chartSeries.addCount();
               ANALYTICS.chartSeries.id_give();
               option.id = ANALYTICS.chartSeries.id;
               ANALYTICS.chartSeries.addSeries(option);
               if(option.chart_body_close_validate) {
                    show_chart_body(option);
               }
               ANALYTICS.form_chart(option);
          }
     }
</script>