<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender %><br />
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :reveivers %><br />
    <%= f.text_field :reveivers %>
  </div>
  <div class="field">
    <%= f.label :file_path %><br />
    <%= f.text_field :file_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
