<h1>Listing emails</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Sender</th>
    <th>receivers</th>
    <th>File path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.title%></td>
    <td><%= email.content%></td>
    <td><%= email.sender %></td>
    <td><%= email.receivers %></td>
    <td><%= email.file_path %></td>
    <td><%= link_to 'Show', email %></td>
    <td><%= link_to 'Edit', edit_email_path(email) %></td>
    <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email', new_email_path %>


<input value="create email" type="button" onclick="send_email()"></input>
<script type="text/javascript">
    function send_email(){
        var data  = {};
        data.analysis = {};
        data.analysis.kpi_id="44";
        data.analysis.kpi_name = "Total Normal Hours";
        data.analysis.entity_group_id = "132";
        data.analysis.entity_group_name = "Local";
        data.analysis.start_time="2014-02-26";
        data.analysis.end_time="2014-03-12";
        //data.average="true";
        data.analysis.frequency="100";

        data.attachments = [];
        data.attachments[0] = {oriName:'2B984145-D107-4C2E-8930-3383E284B2C0.jpeg',pathName:'f24371dd-6b32-4e81-8a14-7cbe64d76d26.jpeg'};

        data.email = {};
        data.email.content = '';
        data.email.receivers = [];
        data.email.receivers[0] = 'tianyi.shen@cz-tek.com';
        data.email.title = 'test';

        $.ajax({
            data: data,
            url:"api/emails",
            type:"POST",
            success:function(data){
                if(data.result){
                    alert("Success Send!");
                }
            }
        });
    }
</script>

