<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @email.sender %>
</p>

<p>
  <b>receivers:</b>
  <%= @email.receivers %>
</p>

<p>
  <b>File path:</b>
  <%= @email.file_path %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
