<!--
<% if @user_session && @user_session.errors.any? %>
<div id="error_explanation" class="error_explanation ">
     <ul>
          <% @user_session.errors.full_messages.each do |msg| %>
          <li>
               <%= msg %>
          </li>
          <% end %>
     </ul>
</div>
<% end %>                                                          on_finish
<form action="/user_sessions/"  method="post">
<div class="log-input">
     <span><i class="icon-user"></i></span>
     <input id="user_session_email" name="user_session[email]" size="30" type="text" placeholder="<%= t 'auth.view.email' %>"/>
</div>
<div class="log-input">
     <span><i class="icon-lock"></i></span>
     <input id="user_session_password" name="user_session[password]" size="30" type="password"  placeholder="<%= t 'auth.view.pwd' %>"/>
</div> 
</form>
<a class="login-in-btn" onclick="document.forms[0].submit();"></a>
-->
<script type='text/javascript'>
    var errors = '';
    var notice = '';
    <% if flash[:alert] %>
    errors = "<%= flash[:alert]%>";
    <% end %>
    <% if flash[:notice] %>
    notice = "<%= flash[:notice]%>";
    <% end %>
</script>

<div class="wrap-main">
  <div class="login-bg">
    <div class="login-caption">
      <h3><%= t 'epm.base.name' %> <span style="color:#5496C2"><%= t 'epm.base.title' %></span></h3>

      <p><%= t 'epm.base.desc' %></p>
      <a class="log-btn login-recommend" id="sign-up-now" state="close"><%= t 'auth.view.login_title' %>
      </a>
      <!--<a class="log-btn login-recommend" onclick="show_signup()">注册</a>-->
    </div>
  </div>
  <div class="login-block">
    <div id="login-operate" class="login-operate clearfix">

      <!--
      <a class="log-btn pull-left" id="sign-in" state="close"><%= t 'auth.view.login_btn' %> </a>
      <a class="log-btn pull-right" id="sign-up" state="close"><%= t 'auth.view.sign_btn' %> </a>
      -->
      <a class="log-btn language-btn" lan="zh">中文</a>
      <a class="log-btn language-btn" lan="en">English</a>
     <!-- <a class="log-btn language-btn" lan="de">Deutsch</a>-->

      <p id="default_lan" lan="<%= I18n.locale %>" style="display: none"></p>
    </div>
  </div>
</div>

<!--User Session-Login in-->

<form class="signIn-block signShow-block clearfix" id="signIn-block" style="display:none">
  <h3 class="text-center"><%= t 'auth.view.login_title' %></h3>
  <dl>
    <dt>
      <%= t 'auth.view.email' %>:
    </dt>
    <dd>
      <input id="user_session_email" name="user_session[email]" type="text" placeholder="<%= t 'auth.view.email' %>"/>
    </dd>
    <br/>
    <dt>
      <%= t 'auth.view.pwd' %>:
    </dt>
    <dd>
      <input id="user_session_password" name="user_session[password]" type="password" placeholder="<%= t 'auth.view.pwd' %>"/>
    </dd>
  </dl>
  <br/>
  <a id="sign-in-btn" class="login-btn log-btn" onclick="login();"><%= t 'auth.view.confirm' %></a>
</form>

<form action="/subscriptions" class="signIn-block signShow-block clearfix" id="signUp-block" style="display:none" special="sign-up">
  <h3 class="text-center"><%= t 'auth.view.sign_title' %></h3>
  <dl>
    <dt>
      <%= t 'auth.view.email' %>:
    </dt>
    <dd>
      <input type="text" id="email" name="email" placeholder="<%= t 'auth.view.email' %>"/>
    </dd>
    <br/>
    <dt>
      <%= t 'auth.view.pwd' %>:
    </dt>
    <dd>
      <input type="password" id="password" name="password" placeholder="<%= t 'auth.view.pwd' %>"/>
    </dd>
    <br/>
    <dt>
      <span><%= t 'auth.view.confirm' %></span> <%= t 'auth.view.pwd' %>:
    </dt>
    <dd>
      <input type="password" id="password_confirmation" name="password_confirmation" placeholder="<%= t 'auth.view.con_pwd' %>"/>
    </dd>
    <br/>
    <dt>
      <%= t 'auth.view.company' %>:
    </dt>
    <dd>
      <input type="text" id="company_name" name="company_name" placeholder="<%= t 'auth.view.company' %>"/>
    </dd>
  </dl>
  <br/>
  <a id="sign-up-btn" class="login-btn log-btn" onclick="signup();"><%= t 'auth.view.confirm' %></a>
</form>

<script>
    $(document).ready(function () {
        $("#sign-in").on("click", function () {
            if ($(this).attr('state') == "close") {
                if ($("#sign-up").attr("state") == "open") {
                    $('#signUp-block').slideUp('500');
                    $("#sign-up").attr('state', 'close');
                }
                $('#signIn-block').slideDown('500');
                $(this).attr('state', 'open');
            }
            else {
                $('#signIn-block').slideUp('500');
                $(this).attr('state', 'close');
            }

        });

        $("#sign-up,#sign-up-now").on("click", function () {
            if ($("#sign-up-now").attr('state') == "close") {
                $('#signIn-block').slideDown('500');
                $("#sign-up-now").attr('state', 'open');
                $("#user_session_email").focus();
            }
            else {
                $('#signIn-block').slideUp('500');
                $("#sign-up-now").attr('state', 'close');
            }

            /*
             if ($("#sign-up").attr('state') == "close") {
             if ($("#sign-in").attr("state") == "open") {
             $('#signIn-block').slideUp('500');
             $("#sign-in").attr('state', 'close');
             }
             $('#signUp-block').slideDown('500');
             $("#sign-up").attr('state', 'open');

             }
             else {
             $('#signIn-block').slideUp('500');
             $("#sign-up").attr('state', 'close');
             }
             */
        });
        $("body").on("keyup", "input[type='text'],input[type='password']", function (event) {
            var e = adapt_event(event).event;
            if (e.keyCode == 13) {
                if ($("#sign-up-now").attr("state") == "open") {
                    $("#sign-in-btn").click();
                }
                else if ($("#sign-up").attr("state") == "open") {
                    $("#sign-up-btn").click();
                }
            }
        });

        error_dis();
    })

    function show_signup() {
        if ($("#sign-up-now").attr("state") == "open") {
            $('#signIn-block').slideUp('500');
            $("#sign-in").attr('state', 'close');
        }
        $('#signUp-block').slideDown('500');
    }

    function error_dis() {
        if (errors != '') {
            MessageBox(errors, "top", "warning");
        }
        if (notice != '') {
            MessageBox(notice, "top", "success");
        }
    }

    function login() {
        var user_session = {
            email: $("#user_session_email").val(),
            password: $("#user_session_password").val()
        }
        var data = {
            user: user_session
        }
        console.log(user_session);
        $.ajax({
            url: '/user_sessions/',
            data: data,
            type: 'POST',
            success: function (data) {
                if (data.result) {
                    MessageBox(data.content, "top", "success");
                    window.location = '/welcome';
                }
                else {
                    MessageBox(data.content, "top", "warning");
                }
            }
        });
    }

    function signup() {
        var data = {
            email: $("#email").val(),
            password: $("#password").val(),
            password_confirmation: $("#password_confirmation").val(),
            company_name: $("#company_name").val()
        }

        $.ajax({
            url: '/subscriptions',
            data: data,
            type: 'POST',
            success: function (data) {
                if (data.result) {
                    MessageBox(data.content, "top", "success");
                    window.location = '/welcome';
                }
                else {
                    MessageBox(data.content, "top", "warning");
                }
            }
        });
    }
</script>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "Log.js" %>
<% end %>
