<%=stylesheet_link_tag "reports/current_status" %>
<div class="template3" id="current-status-normal">
  <section class="content" id="content">
    <div class="tag" id="tags">
      <div class="active tagItem" tag="current_status">CURRENT STATUS</div>
      <div class="tagItem" tag="current_status_target">TARGET</div>
      <div class="tagItem" tag="all_defects">ALL DEFECTS</div>
      <div class="tagItem" tag="key_station_defects">KEY STATION DEFECTS</div>
    </div>
    <!--current status-->
    <section class='current-status-wrapper' tag="current_status">
      <div class="condition">
        <div class="header-block">
          <p>First Time Quality (FTQ) Summary Percentage</p>
          <p id="current-date"></p>
          <p>Early shift</p>
          <select id="vehicle-select">
            <option>CF11</option>
            <option>CF14</option>
            <option>CF16</option>
          </select>
        </div>
        <div class="header-block">
          <a class="btn btn-primary" id="refresh">Refresh</a>
        </div>
        <div class="header-block">
          <label>Current time</label>
          <p id="current-clock"></p>
        </div>
      </div>
      <div class="container">
        <div style="width:100%;height:90%" id="data_container"></div>
      </div>
    </section>
    <!--target-->
    <section class='current-status-wrapper' tag="current_status_target">
      <div id="target_setting" class="wrapper-current-body target">
        <div id="target_grid_container" class="grid_container" style="width:100%;height:100%"></div>
      </div>
      <div class="wrap-current-footer" id="target_footer">
        <p><i class="icon icon-cog"></i> setting</p>
        <div class="item-block">
          <p><span class="grey">when</span> Target > Current FTQ</p>
          <input type='text' class='color-picker' id="color1"/>
        </div>
        <div class="item-block">
          <p><span class="grey">when</span> Target = Current FTQ</p>
          <input type='text' class='color-picker' id="color2"/>
        </div>
        <div class="item-block">
          <p><span class="grey">when</span> Target < Current FTQ</p>
          <input type='text' class='color-picker' id="color3"/>
        </div>
      </div>
    </section>
    <!--all defects-->
    <section class='current-status-wrapper' tag="all_defects">
      <div class="wrapper-current-body">
        <div id="all_defects" class="data_container"></div>
      </div>
    </section>
    <!--key defects-->
    <section class='current-status-wrapper' tag="key_station_defects">
      <div class="wrapper-current-body">
        <div id="key_defects" class="data_container"></div>
      </div>
    </section>
  </section>
  <section class="helper">
    <div class="snaps" id="snap-groups">
      <p class="title">Snapshots</p>
      <a class="btn btn-warning" id="snap-to-now">reset to current</a>
      <% @snaps.each do |snap| %>
          <div class="snap-li" snap="<%= snap.id %>" type="<%= snap.type_string %>">
            <div class="left">
              <p><%= snap.desc %></p>
              <p><%= time_ago_in_words(snap.created_at.localtime) %> ago</p>
            </div>
            <div class="right">
              <span class="big"></span>
              <span class="small"></span>
              <span class="small"></span>
            </div>
            <a class="remove"><i class="icon icon-trash"></i></a>
          </div>
      <% end %>
    </div>
    <div class="function">
      <p class="title">Exports</p>
    </div>
  </section>
</div>



</section>


