<style>
  .wrap-main {
    overflow: hidden;
  }
</style>

<div class="report-menu" id="report-menu" style="display: block;">
  <section class="slide_menu">
    <div class="header">
      <p>App Center</p>
    </div>
    <ul id="my-reports">
      <!--<p>Quality Gate</p>-->
      <li><a menu="current_status" href="#current_status"><i class="icon-adjust mark"></i> Current
        Status<i class="icon-chevron-right indicate"></i></a></li>

      <li><a menu="daily_ftq" href="#daily_ftq"><i class="icon-bar-chart mark"></i>CycleTime
        Detail<i class="icon-chevron-right indicate"></i></a></li>

      <!--<li><a menu="wait_time_in_hours" href="#wait_time_in_hours"><i class="icon-lock mark"></i> &nbsp;WaitTime in-->
      <!--Hours<i class="icon-chevron-right indicate"></i></a></li>-->

      <!--<li><a menu="cycle_time_in_hours" href="#cycle_time_in_hours"><i class="icon-time mark"></i> CycleTime in-->
      <!--Hours<i class="icon-chevron-right indicate"></i></a></li>-->

      <!--<li>-->
      <!--<a menu="working_time_in_hours" href="#working_time_in_hours"><i class="icon-calendar mark"></i> WorkingTime in-->
      <!--Hours<i class="icon-chevron-right indicate"></i></a></li>-->

      <li><a menu="moving_time" href="#moving_time"><i class="icon-time mark"></i>
        MovingTime Detail<i class="icon-chevron-right indicate"></i></a></li>

      <li><a menu="moving_cycle" href="#moving_cycle"><i class="glyphicon glyphicon-stats mark"></i>
        Moving And Cycle Time<i class="icon-chevron-right indicate"></i></a></li>

      <li><a menu="tv_cycle_time" href="#tv_cycle_time"><i class="glyphicon glyphicon-fullscreen mark"></i>
        TV Play<i class="icon-chevron-right indicate"></i></a></li>
      <!--<li><a menu="defects" href="#defects"><i class="icon-list mark"></i>
        History<i class="icon-chevron-right indicate"></i></a></li>-->

      <!-- <li number="8"><a menu="daily_dpv" href="#daily_dpv"><i class="icon-columns mark"></i> Daily DPV&SDPV<i class="icon-chevron-right indicate"></i></a></li>
       <li number="7"><a menu="daily_ftq" href="#daily_ftq"><i class="icon-bar-chart mark"></i> Daily FTQ<i class="icon-chevron-right indicate"></i></a></li>
       <li number="2"><a menu="station_data" href="#station_data"><i class="icon-list mark" menu="station-data" href="#station-data"></i> Station Data<i class="icon-chevron-right indicate"></i></a></li>
       <li number="1"><a menu="summary_report" href="#summary_report"><i class="icon-columns mark"></i> Summary Report<i class="icon-chevron-right indicate"></i></a></li>
       <li number="9"><a menu="tracking_report" href="#tracking_report"><i class="icon-screenshot mark" ></i> Daily KPI Tracking<i class="icon-chevron-right indicate"></i></a></li>
       <li number="4"><a menu="defects" href="#defects"><i class="icon-remove-sign mark" ></i> Defect<i class="icon-chevron-right indicate"></i></a></li>
       <li number="3"><a menu="vehicle_info" href="#vehicle_info"><i class="icon-dashboard mark" ></i> Vehicle Information<i class="icon-chevron-right indicate"></i></a></li>
   -->
    </ul>
    <!--<a class="btn btn-primary share" id="share_to_discussion_btn">Share to discussion</a>
    <a class="btn btn-success snzap" id="snap-shot-button">Snapshot</a>
    <a class="btn subscribe" id="reports_subscribe">App subscription</a>-->
  </section>

</div>

<div id="pop-crate" style="float: left;text-align: center;color: white;cursor: pointer;width: 10px;background: #3e4452;position: absolute;top:70px;bottom: 0;left: 220px;z-index:10000;">
  <div class="my_icon">
    <i class="icon-chevron-left" title="Close Panel"></i>
  </div>
</div>

<div id="preloader" class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
    <path d="M30,30 50,30 50,30 30,30 Z"/>
  </svg>
</div>
<!-- /pageload-overlay -->

<!-- <section class="snap_block" id="snap_block">
  <i class="icon icon-remove" id="snap-shot-remove"></i>

  <p>Snap description</p>
  <input type="text" id="snap-shot-desc"/>
  <a class="btn btn-success" id="snap-shot-btn">finish</a>
</section> -->
</div>

<input type="hidden" id="report-story-type-hidden">

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "jquery.ui/jquery-ui-1.10.3.custom.min.js" %>
    <%= javascript_include_tag "jquery.file.upload/jquery.fileupload.js" %>
    <%= javascript_include_tag "Manage-story.js" %>
    <%= javascript_include_tag "Manage-storyset.js" %>
    <%= javascript_include_tag "jedate.js" %>
<% end %>

<script type="text/javascript">
  var ClientHeight = document.documentElement.clientHeight;
  var ClientWidth = document.documentElement.clientWidth;

  $('.my_icon').css({
    marginTop: (ClientHeight) / 2 + 'px',
    marginBottom: ((ClientHeight) / 2 - 33) + 'px'
  });

  $('#pop-crate').click(function () {
    var report_menu_style = document.getElementById('report-menu').style.display;
    if (report_menu_style == "none") {
      $('#report-menu').fadeIn(0);
      $('#pop-crate').animate({
        left: '220px'
      }, 0);

    } else {
      $('#report-menu').fadeOut(0);
      $('#pop-crate').animate({
        left: '0'
      }, 0);
    }
  });

  var loading;
  function loading_show() {
    var ReportMenuStatus = document.getElementById('report-menu').style.display;
    if (ReportMenuStatus == 'none') {
      loading = new SVGLoader(document.getElementById('preloader'), {speedIn: 100});
      var top = top = document.getElementById("preloader").getBoundingClientRect().bottom >= 0 ? document.getElementById("current-status-header").getBoundingClientRect().bottom : 0;
      $(".pageload-overlay svg").css('left', '10px');
      $(".pageload-overlay svg").css('top', top + 'px');
      $(".pageload-overlay svg").css('bottom', 0);
      $(".pageload-overlay svg").css('right', 0);
      loading.show();
    } else {
      loading = new SVGLoader(document.getElementById('preloader'), {speedIn: 100});
      var top = top = document.getElementById("preloader").getBoundingClientRect().bottom >= 0 ? document.getElementById("current-status-header").getBoundingClientRect().bottom : 0;
      $(".pageload-overlay svg").css('left', '230px');
      $(".pageload-overlay svg").css('top', top + 'px');
      $(".pageload-overlay svg").css('bottom', 0);
      $(".pageload-overlay svg").css('right', 0);
      loading.show();
    }
  }

  function loading_hide() {
    $('#preloader').remove();
    $('<div id="preloader" class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none"><path d="M30,30 50,30 50,30 30,30 Z"/></svg></div>').appendTo('body').ready(function () {
    })
  }

  function startTime() {
    var today = new Date();
    var years = today.getFullYear();
    var months = today.getMonth();
    var d = today.getDate();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
// add a zero in front of numbers<10
    months = months + 1;
    months = checkTime(months);
    d = checkTime(d);
    m = checkTime(m);
    s = checkTime(s);
//      var weekday = new Array(7);
//      weekday[0] = "星期日";
//      weekday[1] = "星期一";
//      weekday[2] = "星期二";
//      weekday[3] = "星期三";
//      weekday[4] = "星期四";
//      weekday[5] = "星期五";
//      weekday[6] = "星期六";
//      var w = weekday[today.getDay()];
    try {
      document.getElementById('current-clock').innerHTML = years + "-" + months + "-" + d + " " + " " + h + ":" + m + ":" + s;
    } catch (e) {
      return;
    }
  }

  function checkTime(i) {
    if (i < 10) {
      i = "0" + i;
    }
    return i;
  }

  function startRecentTime() {
    var start_time;
    if ($('.RecentTime').val() == "") {
      start_time = new Date().format('yyyy-MM-dd').toString() + ' ' + '00:00:00';
    } else {
      if ($('.RecentTime').val() < 0) {
        $('.RecentTime').val(" ");
        start_time = new Date().format('yyyy-MM-dd').toString() + ' ' + '00:00:00';
      } else {
        var now = RefreshRectentTimeDate($('.RecentTime').val(), "m");
        start_time = now.format("yyyy-MM-dd hh:mm:ss");
      }
    }
    return start_time;
  }

  function RefreshRectentTimeDate(time, type) {
    //换算时间
    var end_time = new Date();
    var start_time;
    switch (type) {
      case "m":
        start_time = new Date(Date.parse(end_time) - time * 60 * 1000);
        return start_time;
        break;
      case "h":
        start_time = new Date(Date.parse(end_time) - time * 60 * 60 * 1000);
        return start_time;
        break;
      case "d":
        start_time = new Date(Date.parse(end_time) - time * 24 * 60 * 60 * 1000);
        return start_time;
        break;
      default:
        start_time = new Date(Date.parse(end_time) - time * 60 * 1000);
        return start_time;
        break;
    }
  }
</script>
