<%= render "my-reports" %>
<div class="report-content" id="report-content">
  <% case @partial %>
  <% when 'grid'%>
      <%= render "grid" %>
  <% when 'data-view'%>
      <%= render "data-view" %>
  <%end%>
</div>
<% content_for :javascript_includes do%>
    <!-- alias js -->
    <%= javascript_include_tag "func-module/format_time.js"%>
    <!-- specify js -->
    <%= javascript_include_tag "reports/main.js"%>
<%end%>
