<%= render "my-reports" %>

<div class="report-content" id="report-content">
  <% case @partial %>
  <% when 'grid' %>
      <%= render "grid" %>
  <% when 'data-view' %>
      <%= render "data-view" %>
  <% end %>
</div>
<input type="hidden" id="story-type-hidden">
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "func-module/format_time.js" %>
    <%= javascript_include_tag "preload/classie.js" %>
    <%= javascript_include_tag "preload/snap.svg-min.js" %>
    <%= javascript_include_tag "preload/svgLoader.js" %>
    <%= javascript_include_tag "xml2json"%>
    <%= javascript_include_tag "dhtmlx" %>
    <%= javascript_include_tag "dhtmlx-extend" %>
    <%= javascript_include_tag "reports/report.js" %>
    <%= javascript_include_tag "reports/main.js" %>
    <%= javascript_include_tag "reports/snap" %>
<% end %>
