<%= render "my-reports" %>
<div class="report-content">
  <%= render "data-view"%>
</div>
<% content_for :javascript_includes do%>
    <%= javascript_include_tag "func-module/format_time.js"%>
    <%= javascript_include_tag "preload/classie.js"%>
    <%= javascript_include_tag "preload/snap.svg-min.js"%>
    <%= javascript_include_tag "preload/svgLoader.js"%>
    <%= javascript_include_tag "reports/main.js"%>
<%end%>
