<!DOCTYPE html>
<html>
<head>
  <title>ClearInsight</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :stylesheet_includes %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charse='utf-8'>
</head>
<body>

<%= render :partial => 'shares/user_message' %>
<article class="wrap-main" id="wrap-main">
  <%= render :partial => 'shares/menu' %>
  <%= yield %>
</article>

<%= render :partial => 'shares/message_box' %>
<%= render :partial => 'shares/slide_box' %>
<%= javascript_include_tag "i18n/i18n" %>
<%= javascript_include_tag "i18n/translations" %>
</body>
</html>
