<!DOCTYPE html>
<html>
     <head>
          <title>IFEpm</title>
          <%= stylesheet_link_tag    "application", :media => "all" %>
          <%= javascript_include_tag "application" %>
          <%= csrf_meta_tags %>
     </head>
     <body>

          <article class="wrap-main" id="wrap-main">
               <%= render :partial=>'shares/menu'%>
               <%= yield %>
          </article>
          <%= render :partial=>'shares/message_box'%>
           <%= render :partial=>'shares/slide_box'%>
     </body>
     <script type="text/javascript">
           I18n.defaultLocale = "<%= I18n.default_locale %>";
           I18n.locale = "<%= I18n.locale %>";
     </script>
</html>
