<!DOCTYPE html>
<html>
     <head>
          <title>ClearInsight</title>
          <%= stylesheet_link_tag    "application", :media => "all" %>
          <%= javascript_include_tag "application" %>
          <%= csrf_meta_tags %>
     </head>
     <body>
     <%= render :partial=>'shares/message_box'%>
          <!--<article class="wrap-main">
               <div class="log-general">
                    <header>
                         <div class="log-header-image">
                              <div class="log-logo"></div>
                              <a href="<%= @href%>"><%= @title %></a>
                              <div class="language-select">
                                   <select class="chosen-select">
                                        <option>English</option>
                                        <option>中文</option>
                                   </select>
                              </div>
                         </div>
                    </header>
                    <div class="log-body">
                         <div class="log-btn-group"> 
                              <%= yield %>
                         </div>
                    </div>
               </div>
          </article>
     -->


     </body>
     <script type="text/javascript">
               I18n.defaultLocale = "<%= I18n.default_locale %>";
               I18n.locale = "<%= I18n.locale %>";
     </script>
</html>

