<!DOCTYPE html>
<html>
     <head>
          <title>ClearInsight</title>
          <%= requirejs_include_tag "application" %>
          <%= csrf_meta_tags %>
     </head>
     <body>
          <%= yield %>
          <%= javascript_include_tag "i18n/i18n" %>
          <%= javascript_include_tag "i18n/translations" %>
          <script type="text/javascript">
              I18n.defaultLocale = "<%= I18n.default_locale %>";
              I18n.locale = "<%= I18n.locale %>";
          </script>
     </body>

</html>