<!DOCTYPE html>
<html>
     <head>
          <title>ClearInsight</title>
          <%= requirejs_include_tag "application" %>
          <%= csrf_meta_tags %>
     </head>
     <body>
          <%= yield %>
          <%= javascript_include_tag "i18n/i18n" %>
          <%= javascript_include_tag "i18n/translations" %>
     </body>

</html>